<% provide(:title, "Bookmark") %>
<div class="ranking-index">
  <h2>ブックマーク</h2>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-lecture-ranking-tab" data-toggle="tab" href="#nav-lecture-ranking" role="tab" aria-controls="nav-lecture-ranking" aria-selected="true">講義</a>
      <a class="nav-item nav-link" id="nav-teacher-lanking-tab" data-toggle="tab" href="#nav-teacher-lanking" role="tab" aria-controls="nav-teacher-lanking" aria-selected="false">先生</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <% if @bookmarks.exists? %>
    <div class="tab-pane fade show active" id="nav-lecture-ranking" role="tabpanel" aria-labelledby="nav-lecture-ranking-tab">
      <ul class="rankings">
        <% @bookmarks.each do |bookmark| %>
            <li id = lecture_<%= bookmark.lecture.id %> class = "lecture" >
              <span class="score">
                <%= bookmark.lecture.average_score %>
              </span>
              <%= link_to bookmark.lecture.name, bookmark.lecture %>
              <span class="teacher-name">
                <%= link_to bookmark.lecture.teacher.name, bookmark.lecture.teacher %>
              </span>
              <span>
                レビュー数: <%= bookmark.lecture.all_reviews_count %>
              </span>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="tab-pane fade" id="nav-teacher-lanking" role="tabpanel" aria-labelledby="nav-teacher-lanking-tab">
      <ul class="rankings">
        <% @bookmarks.each do |bookmark| %>
            <li id = lecture_<%= bookmark.lecture.id %> class = "lecture" >
            <span class="score">
              <%= bookmark.lecture.average_score %>
            </span>
            <span class="teacher-name">
              <%= link_to bookmark.lecture.teacher.name, bookmark.lecture.teacher %>
            </span>
            </li>
        <% end %>
      </ul>
    </div>
    <% else %>
    <div>
        <p>
          ブックマークに登録した講義はありません。<br>
          <small>※講義詳細ページから講義をブックマークに追加できます</small>
        </p>
    </div>
    <% end %>
  </div>

</div>