<div id = lecture_<%= lecture.id %> class = "lecture contaier" >

  <div class="row">

    <div class="col-sm-3 col-2">
      <span class="rank ml-1 ml-sm-3">
        <%# ページネートに合わせて順位を表示。1ページ目はnil %>
        <% if params[:page] %>
          <%= i + 20 * ( params[:page].to_i - 1 ) %>位
        <% else %>
          <%= i + 20 * params[:page].to_i %>位
        <% end %>
      </span>
    </div>
    
    
    <%# スコア %>
    <div class="col-6 col-sm-5">
      <span class="score"><%= lecture.average_score %></span>
      <%= link_to lecture.name, lecture %>
    </div>

    <div class="col-3">
      <%# 先生名前 %>
      <span class="teacher-name">  <%= link_to lecture.teacher.name, lecture.teacher %></span>
      <%# レビュー数 %>
      <span><i class="far fa-comment-dots"></i><%= lecture.all_reviews_count %></span>
    </div>

  </div>
</div>