<div id = lecture_<%= lecture.id %> class = "lecture container-fluid" >
 <div class="row">
    <%# 順位 %>
    <div class="col-1 d-flex ">
      <span class="rank">
        <%# ページネートに合わせて順位を表示。1ページ目はnil %>
        <% if i == 1 %>
          <% @lastScore = lecture.average_score %>
        <% end %>
        <% if lecture.average_score != @lastScore %>
          <% @j = i %>
          <% if params[:lectures_page] %>
            <%= @j + 20 * ( params[:lectures_page].to_i - 1 ) %><%= t('.place')%>
          <% else %>
            <%= @j + 20 * params[:lectures_page].to_i %><%= t('.place')%>
          <% end %>
          <% lastScore = lecture.average_score %>
        <% else %>
          <% if params[:lectures_page] %>
            <%= @j + 20 * ( params[:lectures_page].to_i - 1 ) %><%= t('.place')%>
          <% else %>
            <%= @j + 20 * params[:lectures_page].to_i %><%= t('.place')%>
          <% end %>
        <% end %>
      </span>
    </div>
  
   <%# スコア %>
    <div class="col-2 col-sm-1 d-flex">
    <span class="score">
      <a><%= lecture.average_score %></a>
    </span>
    </div>

    <%# クラス名 ウェブ%>
    <div class="col-2 col-lg-4 d-none d-sm-block">
      <span class="class-name p-0">
        <%= link_to l_display_name(lecture), lecture.becomes(Lecture) %>
      </span>
    </div>

    <%# ウェブ %>
    <div class="col-sm-6 col-4 d-none d-sm-flex">
      <%# 先生名前 %>
      <span class="teacher-name">
        <%= link_to t_display_name(lecture.teacher), lecture.teacher %>
      </span>
      <%# レビュー数 %>
      <div class="web-reviewcount">
          <i class=" far fa-comment-dots"></i><%= lecture.all_reviews_count %>
      </div>
    </div>

    <%# クラス名＆先生名スマホ %>
    <div class="col-7 d-flex d-sm-none teacher-mobile-teacherNlecture">
    <%# 二段構成 %>
     <div class="d-inlineblock ">
        <span class="lecture-mobile-class-name d-inlineblock">
            <%= link_to l_display_name(lecture), lecture.becomes(Lecture) %>
          </span>
        <span class="lecture-mobile-teacher-name d-inlineblock">
            <%= link_to t_display_name(lecture.teacher), lecture.teacher %>
        </span>
     </div>
    </div>

    <%# レビュー数スマホ%>
    <div class="lecture-mobile-review-count co-1 d-sm-none">
      <i class="far fa-comment-dots"></i><%= lecture.all_reviews_count %>
    </div>

  </div>
</div>