<li id = teacher_<%= teacher.id %> class = "teacher" >
  <span class="rank">
    <%# ページネートに合わせて順位を表示 %>
    <% if params[:page] %>
      <%= i + 20 * ( params[:page].to_i - 1 ) %>位
    <% else %>
      <%= i + 20 * params[:page].to_i %>位
    <% end %>
  </span>

  <span class="score"><%= teacher.average_score %></span>
  <%= link_to teacher.name, teacher %>
</li>