<div id = teacher_<%= teacher.id %> class = "teacher container-fluid" >

  <div class="row">

    <%# 順位 %>
    <div class="col-sm-1 col-2 d-flex p-0 pl-sm-">
      <span class="rank ml-1 ml-sm-3 p-0">
        <%# ページネートに合わせて順位を表示。1ページ目はnil %>
        <% if params[:page] %>
          <%= i + 20 * ( params[:page].to_i - 1 ) %>位
        <% else %>
          <%= i + 20 * params[:page].to_i %>位
        <% end %>
      </span>
    </div>

    <%# スコア %>
    <div class="col-2 col-lg-1 px-0 d-flex">
      <span class="score p-sx-4">
        <a><%= teacher.average_score %></a>
      </span>
    </div>

    <%# 先生めい %>
    <div class="teacher-teachername col-sm-10 col-4 p-0 p-sm-auto d-flext">
      <%= link_to teacher.name, teacher %>
    </div>
  </div>
</div>