<div id = user_<%= user.id %> class = "user container-fluid" >

  <div class="row">

    <%# 順位 %>
    <div class="col-1 d-flex">
      <span class="rank">
        <%# ページネートに合わせて順位を表示。1ページ目はnil %>
        <% if i == 1 %>
          <% @lastScore = user.user_point.total_point.floor %>
        <% end %>
        <% if user.user_point.total_point.floor != @lastScore %>
          <% @j = i %>
          <% if params[:users_page] %>
            <%= @j + 20 * ( params[:users_page].to_i - 1 ) %><%= t('.place')%>
          <% else %>
            <%= @j + 20 * params[:users_page].to_i %><%= t('.place')%>
          <% end %>
          <% lastScore = user.user_point.total_point.floor %>
        <% else %>
          <% if params[:users_page] %>
            <%= @j + 20 * ( params[:users_page].to_i - 1 ) %><%= t('.place')%>
          <% else %>
            <%= @j + 20 * params[:users_page].to_i %><%= t('.place')%>
          <% end %>
        <% end %>
      </span>
    </div>

    <%# ユーザーポイント %>
    <div class="col-1">
      <span class="score"><a><%= user.user_point.total_point.floor %></a></span>
    </div>

    <%# ユーザー名 %>
    <div class="col-7 d-flex static-user-name">
        <%= link_to u_display_name(user), user.becomes(User) %>
    </div>
  </div>
</div>