<div id = user_<%= user.id %> class = "user container-fluid" >

  <div class="row">

    <%# 順位 %>
    <div class="col-sm-1 d-flex col-2">
      <span class="rank ml-1 ml-sm-3">
        <%# ページネートに合わせて順位を表示。1ページ目はnil %>
        <% if params[:users_page] %>
          <%= i + 20 * ( params[:users_page].to_i - 1 ) %><%= t('.place')%>
        <% else %>
          <%= i + 20 * params[:users_page].to_i %><%= t('.place')%>
        <% end %>
      </span>
    </div>

    <%# ユーザーポイント %>
    <div class="col-2 col-lg-1 px-0 py-auto">
      <span class="user_point score"><a><%= user.user_point.total_point %></a></span>
    </div>

    <%# ユーザー名 %>
    <div class="col-sm-7 col-3 p-0 p-sm-auto offset-1 offset-md-2">
      <div class="d-flex align-items-center h-100">
      <%= link_to user.name, user %>
      </div>
    </div>

    <div class="col-sm-1 col-1 p-0 p-sm-auto" >
    </div>
  </div>
</div>