<% provide(:title, t('.classreviewsite')) %>
<%# 運営からのメッセージがあったら表示する %>
<% if @news.exists? %>
  <% @news.each do |news| %>
    <%= link_to news.title, news, class:"news_by" %>
  <% end %>
<% end %>

<div class="slide_show">
  <div class="slide_content"><%= image_tag("slideshow/slide1.png", alt: "スライド1", class: "slide") %></div>
  <div class="slide_content"><%= image_tag("slideshow/slide_sample.png", alt: "スライド2", class: "slide") %></div>
  <div class="slide_content"><%= image_tag("slideshow/slide_sample.png", alt: "スライド3", class: "slide") %></div>
</div>

<div class="ranking-index">
  <nav>
    <%# 講義ランキング先生ランキング切り替えタブ %>
    <div class="nav nav-tabs ranking-nav" id="nav-tab" role="tablist">
      <a class="col-4 nav-item nav-link active" id="nav-lecture-ranking-tab" data-toggle="tab" href="#nav-lecture-ranking" role="tab" aria-controls="nav-lecture-ranking" aria-selected="true"><%= t('.class') %></a>
      <a class="col-4 nav-item nav-link" id="nav-teacher-lanking-tab" data-toggle="tab" href="#nav-teacher-lanking" role="tab" aria-controls="nav-teacher-lanking" aria-selected="false"><%= t('.teacher') %></a>
      <a class="col-4 nav-item nav-link" id="nav-user-lanking-tab" data-toggle="tab" href="#nav-user-lanking" role="tab" aria-controls="nav-user-lanking" aria-selected="false"><%= t('.user_point') %></a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <%# 講義ランキング表示 %>
    <div class="tab-pane fade show active" id="nav-lecture-ranking" role="tabpanel" aria-labelledby="nav-lecture-ranking-tab">
      <ul class="rankings">
        <% @lectures.each.with_index(1) do |lecture, i| %>
          <%= render partial: "static_pages/lecture", locals: {lecture: lecture, i: i} %>
        <% end %>
        <%= paginate @lectures, param_name: 'lectures_page', theme: 'twitter-bootstrap-4' %>
      </ul>
    </div>
    <%# 先生ランキング表示 %>
    <div class="tab-pane fade" id="nav-teacher-lanking" role="tabpanel" aria-labelledby="nav-teacher-lanking-tab">
      <ul class="rankings">
        <% @teachers.each.with_index(1) do |teacher, i| %>
          <%= render partial: "static_pages/teacher", locals: {teacher: teacher, i: i} %>
        <% end %>
        <%= paginate @teachers, param_name: 'teachers_page', theme: 'twitter-bootstrap-4' %>
      </ul>
    </div>
    <%# ユーザーランキング表示 %>
    <div class="tab-pane fade" id="nav-user-lanking" role="tabpanel" aria-labelledby="nav-user-lanking-tab">
      <ul class="rankings">
        <% @users.each.with_index(1) do |user, i| %>
          <%= render partial: "static_pages/user", locals: {user: user, i: i} %>
        <% end %>
        <%= paginate @users, param_name: 'users_page', theme: 'twitter-bootstrap-4' %>
      </ul>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.slide_show').slick({
      dots: true,
      autoplay: true,
      autoplaySpeed: 3000, //何ミリ秒で移り変わるかどうかの設定
    });
    // マウスをホバーしたときにそのスライドに移動
    $('.slick-dots li').on('mouseover', function() {
      $('.slide_show').slick('goTo', $(this).index());
    });
  });
</script>