<%= form_with(model: @lecture, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :teacher_name %>
  <%= f.text_field :teacher_name, class: 'form-control' %>
  <p>
  <% if @a == false %>
    先生が未登録です。
  <% end %>
  先生登録は<%= link_to "こちら", new_teacher_path %></p>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>