<div id = lecture_<%= lecture.id %> class = "lecture container-fluid" >

<div class="row">

  <%# スコア %>
  <div class="col-sm-1 col-2">
    <span class="score">
      <a><%= lecture.average_score %></a>
    </span>
  </div>

  <%# クラス %>
  <div class="col-3 col-lg-3 px-0 py-auto d-none d-sm-block">
    <span class="class-name p-0">
      <%= link_to lecture.name, lecture %>
    </span>
  </div>

  <%# 先生とレビュー数 %>
  <div class="col-sm-5 p-0 p-sm-auto d-none d-sm-block">
    <span class="teacher-name">
      <%= link_to lecture.teacher.name, lecture.teacher %>
        <span>
          <i class="far fa-comment-dots"></i><%= lecture.all_reviews_count %>
        </span>
    </span>
  </div>

  <%# クラス名＆先生名スマホ %>
  <div class="col-8 d-inline d-sm-none p-0 m-0">
    <%# 二段構成 %>
    <div class="mobile-class-and-teacher d-inlineblock mr-0">
        <span class="mobile-class-name d-inlineblock">
            <%= link_to lecture.name, lecture %>
          </span>
        <span class="mobile-teacher-name d-inlineblock">
            <%= link_to lecture.teacher.name, lecture.teacher %>
        </span>
    </div>
  </div>

  <div class="review-count col-2 d-sm-none">
    <span>
      <i class="far fa-comment-dots"></i><%= lecture.all_reviews_count %>
    </span>
  </div>
</div>