<% provide(:title, @lecture.name) %>
<% provide(:button_text,"レビューを投稿する") %>
<div class="lecture_show">
  <%= link_to "講義一覧へ", lectures_path %>
  <div class="lecture-box">
    <div class="lecture-left">
      <%# 画面幅が大きいときのみ表示 %>
      <div class="pc-cache">
        <p>製作者： <%= link_to @lecture.user.name, @lecture%></p>
        <div class="scores">
          <h4>スコア： <span><%= @lecture.average_score %></span></h4>
          <h4>難易度： <span><%= @lecture.average_difficulty %></span></h4>
        </div>
      </div>
      <% if @lecture.reviews.blank? %>
        <p>レビューはありません。</p>
      <% else %>
        <canvas id="lecture<%= @lecture.id %>Chart" class="chart"></canvas>
      <% end %>
      <%# レビュー投稿欄 %>
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
          レビューを書く
        </button>
      </p>
    </div>
    <div class="lecture-right">
      <div>
        <h3><%= @lecture.name %></h3>
        <p>-先生名</p>
        <%# 画面幅が小さいときのみ表示 %>
        <div class="sm-cache">
          <div class="scores">
            <h4>スコア： <span><%= @lecture.average_score %></span></h4>
            <h4>難易度： <span><%= @lecture.average_difficulty %></span></h4>
          </div>
          <p>製作者： <%= link_to @lecture.user.name, @lecture%></p>
        </div>
        <div class="lecture-info">
          <span>講義情報</span>
          <p><%= @lecture.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
          <%# 自分の投稿のときのみ表示 %>
          <% if current_user?(@lecture.user) %>
            <%= link_to "編集", edit_lecture_path %>
            <%= link_to "削除", @lecture, method: :delete, data: { confirm: "本当に削除しますか？"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="collapseReview">
    <div class="card card-body">
      <%= render 'reviews/form' %>
    </div>
  </div>

  <%# レビュー表示 %>
  <div class="col-md-10 lecture-reviews">
    <% if @reviews.any? %>
      <p>レビュー数 (<%= @reviews.count %>)</p>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= paginate @reviews, theme: 'twitter-bootstrap-4' %>
    <% end %>
  </div>
</div>

<%# グラフ表示に関するJS %>
<script>
var ctx = document.getElementById("lecture<%= @lecture.id %>Chart");
var lecture = new Chart(ctx, {
  //グラフの種類
  type: 'radar',
  //データの設定
  data: {
      //データ項目のラベル
      labels: ["分かりやすさ: <%= @lecture.average_explanation %>",
               "評価の公平さ: <%= @lecture.average_fairness %>",
               "オススメ度: <%= @lecture.average_recommendation %>",
               "満足度: <%= @lecture.average_useful %>",
               "面白さ: <%= @lecture.average_interesting %>"],
      //データセット
      datasets: [
          {
              label: "<%= @lecture.name %>",
              //背景色
              backgroundColor: "rgba(127,255,0,0.5)",
              //枠線の色
              borderColor: "rgba(127,255,0,1)",
              //結合点の背景色
              pointBackgroundColor: "rgba(46,139,87,1)",
              //結合点の枠線の色
              pointBorderColor: "#f5f5dc",
              //結合点の背景色（ホバ時）
              pointHoverBackgroundColor: "#fff",
              //結合点の枠線の色（ホバー時）
              pointHoverBorderColor: "rgba(46,139,87,1)",
              //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
              hitRadius: 5,
              //グラフのデータ
              data: [ <%= @lecture.average_explanation %>,
                      <%= @lecture.average_fairness %>,
                      <%= @lecture.average_recommendation %>,
                      <%= @lecture.average_useful %>,
                      <%= @lecture.average_interesting %>]
          }
      ]
  },
 options: {
    // レスポンシブ指定
    responsive: true,
    scale: {
      ticks: {
        // 最小値の値を0指定
        beginAtZero:true,
        min: 0,
        // 最大値を指定
        max: 5,
      }
    }
  }
});
</script>