<% provide(:title, @lecture.name) %>
<% provide(:button_text,"レビューを投稿する") %>
<div class="lecture_show container">
  <%= link_to "講義一覧へ", lectures_path %>
  <p>製作者： <%= @lecture.user.name %></p>
  <h3><%= @lecture.name %></h3>
  <h4>スコア： <%= @lecture.average_score %></h4>
  <h4>難易度： <%= @lecture.average_difficulty %></h4>
  <div class="lecture-box">
    <div class="lecture-left">
      <p>使用言語: <%= @lecture.language_used_i18n %></p>
      <p>講義のタイプ: <%= @lecture.lecture_type_i18n %></p>
      <p>講義規模: <%= @lecture.lecture_size_i18n %></p>
      <p>グループワーク: <%= @lecture.group_work_i18n %></p>
      <p>講義ターム: <%= @lecture.lecture_term_i18n %></p>

      <p><%= @lecture.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
      <%# 自分の投稿のときのみ表示 %>
      <% if current_user?(@lecture.user) %>
        <%= link_to "編集", edit_lecture_path %>
        <%= link_to "削除", @lecture, method: :delete, data: { confirm: "本当に削除しますか？"} %>
      <% end %>
    </div>
    <div class="lecture-right">
      <% if @lecture.reviews.blank? %>
        <p>レビューはありません。</p>
      <% else %>
        <canvas id="lecture<%= @lecture.id %>Chart"></canvas>
      <% end %>
    </div>
  </div>
  <%# レビュー投稿欄 %>
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
      レビューを書く
    </button>
  </p>
  <div class="collapse" id="collapseReview">
    <div class="card card-body">
      <%= render 'reviews/form' %>
    </div>
  </div>

  <%# レビュー表示 %>
  <div class="col-md-8">
    <% if @reviews.any? %>
      <h3>レビュー数 (<%= @reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= paginate @reviews, theme: 'twitter-bootstrap-4' %>
    <% end %>
  </div>
</div>

<%# グラフ表示に関するJS %>
<script>
var ctx = document.getElementById("lecture<%= @lecture.id %>Chart");
var lecture = new Chart(ctx, {
  //グラフの種類
  type: 'radar',
  //データの設定
  data: {
      //データ項目のラベル
      labels: ["分かりやすさ: <%= @lecture.average_explanation %>",
               "評価の公平さ: <%= @lecture.average_fairness %>",
               "オススメ度: <%= @lecture.average_recommendation %>",
               "満足度: <%= @lecture.average_useful %>",
               "面白さ: <%= @lecture.average_interesting %>"],
      //データセット
      datasets: [
          {
              label: "<%= @lecture.name %>",
              //背景色
              backgroundColor: "rgba(127,255,0,0.5)",
              //枠線の色
              borderColor: "rgba(127,255,0,1)",
              //結合点の背景色
              pointBackgroundColor: "rgba(46,139,87,1)",
              //結合点の枠線の色
              pointBorderColor: "#f5f5dc",
              //結合点の背景色（ホバ時）
              pointHoverBackgroundColor: "#fff",
              //結合点の枠線の色（ホバー時）
              pointHoverBorderColor: "rgba(46,139,87,1)",
              //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
              hitRadius: 5,
              //グラフのデータ
              data: [ <%= @lecture.average_explanation %>,
                      <%= @lecture.average_fairness %>,
                      <%= @lecture.average_recommendation %>,
                      <%= @lecture.average_useful %>,
                      <%= @lecture.average_interesting %>]
          }
      ]
  },
 options: {
    // レスポンシブ指定
    responsive: true,
    scale: {
      ticks: {
        // 最小値の値を0指定
        beginAtZero:true,
        min: 0,
        // 最大値を指定
        max: 5,
      }
    }
  }
});
</script>