<% provide(:title, l_display_name(@lecture)) %>
<% provide(:button_text, t('.post_review')) %>
<div class="lecture_show">

  <%# 自動作成になって不要になったのでコメントアウトしてました。 %>
  <%# <div class="lecture-header"> %>
    <%# link_to t('.return_to_class_list'), lectures_path %>
    <%# <span class="creator_name"> %>
      <%#= t('.lecture_creater') %><%#：%>
      <%#= link_to @lecture.user.becomes(User) do %>
        <%#= render partial: "shared/user_image/display_icon20", locals: {user: @lecture.user} %><%#= u_display_name(@lecture.user) %>
      <%# end %>
    <%# </span> %>
  <%# </div> %>

  <%# everything after lec show header %>
  <div class="lectureinfo-N-allreviews">

    <%# lectureshow中のコンテンツ %>
    <div class="lecture-info">
      <span class="lectureshow-book" id ="bookmark-<%= @lecture.id %>">
        <%= render 'bookmarks/bookmark', lecture: @lecture %>
      </span>

      <div class="lec-score-tea-class">
        <div class="lectureshow-scores">
          <% if @lecture.reviews.blank? %>
            <p><%= t('.no-review') %></p>
          <% else %>
            <div class="lectureshow-starts" id="star-lecture<%= @lecture.id %>"></div>
            <div class="lectureshow-rate"><%#= t('.ratings') %><span class="score"><%= @lecture.average_score %></span><span class="review-count">&nbsp;(<%= @lecture.all_reviews_count %>)</span></div>
          <% end %>
        </div>
        <div class="lecture-class-teacher">
          <%# class name %>
          <div class="lecture-classname">
            <%= l_display_name(@lecture) %>&nbsp;<%# 講義名とブックマークボタンの間に若干間開けてます。 %>
          </div>
          <%# teacher name %>
          <div class="lectureshow-teacher-name">
            <%= t('.class-teacher') %>：<%= link_to t_display_name(@lecture.teacher), @lecture.teacher %>
          </div>
        </div>
      </div>

      <%# 最も参考になっているレビュー関係 %>
      <div  class="lectureshow-helpfuls">
        <% if @helpful_review %>
          <p><strong><%= t('.most-helpful-rev') %></strong></p>
          <div class="most_helpful_review">
            <%= render partial: "lectures/review", locals: {review: @helpful_review} %>
          </div>
        <% end %>
      </div>

      <%# 自分がレビューしたことあるかを確認 %>
      <% if user_signed_in? %>
        <div>
          <% if @lecture.review?(current_user) %>
            <% if @lecture.my_review(current_user).content.present? %>
              <%# 自分が書いたレビューへのリンクを表示 %>
              <div class="lecture-show-my-review">
                <%= link_to t('.show-own-review'), "#review-#{@lecture.my_review(current_user).id}" %>
              </div>
            <% else %>
              <%# 自分のレビューにコンテントがない場合、遷移先がないので削除リンクを提示 %>
              <div class="lecture-show-my-review">
                <%= link_to t('.delete-own-review'), lecture_review_path(@lecture, @lecture.my_review(current_user)), method: :delete, data: { confirm: t('.reallydelete')} %>
              </div>
            <% end %>
          <% else %>
            <%# レビュー投稿欄 %>
            <div class="card card-body">
              <%= render 'reviews/form' %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div>
          <%= link_to  new_user_session_path do %>
            <div class="btn btn-success">ログインしてレビューを書く</div>
          <% end %>
        </div>
      <% end %>

      <%# いらないのでコメントアウト %>
      <%# エディットとデリート %>
      <%# <div class="lectureshow-editNdelete"> %>
        <%# 自分の投稿のときのみ表示 %>
        <%# if current_user?(@lecture.user) %>
          <%# <div class="lectureshow-edit"> %>
            <%#= link_to t('.edit'), edit_lecture_path %>
          <%# </div> %>
          <%# <div class="lectureshow-delete"> %>
            <%#= link_to t('.delete'), @lecture, method: :delete, data: { confirm: t('.delete-message')} %>
          <%# </div> %>
        <%# end %>
      <%# </div> %>
    <%# </div> %>

    <%# レビュー表示 %>
    <div class="lectureshow-allreviews">
      <% if @reviews.any? %>
        <p><%= t('.review-number') %> (<%= @lecture.all_reviews_count %>)</p>
        <ol class="reviews">
          <% @reviews.each do |review| %>
            <%= render partial: "lectures/review", locals: {review: review} %>
          <% end %>
        </ol>
      <% end %>
  </div>
</div>

<%# 星表示のためのjavascript %>
<script>
  $('#star-lecture<%= @lecture.id %>').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf  : '<%= asset_path('star-half.png') %>',
    half      : true,
    readOnly: true,
    score: <%= @lecture.average_score %>,
  });
</script>