<% provide(:title, @lecture.name) %>
<% provide(:button_text,"レビューを投稿する") %>
<div class="lecture_show">
  <div class="lecture-header">
    <%= link_to "》クラス一覧へ戻る", lectures_path %>
    <span class="creator_name">
    作成者：
      <%= link_to @lecture.user do %>
        <%= image_tag 'default_user.png', :size => '20x20' %><%= @lecture.user.name %>
      <% end %>
    </span>
  </div>
  <div class="lecture-info">
    <h3>
    <p class="bookmark-mark">
      <span id ="bookmark-<%= @lecture.id %>">
        <%= render 'bookmarks/bookmark', lecture: @lecture %>
      </span>
      <%= @lecture.name %></p>
      <span class="teacher-name">
      <p>担当教員：<%= link_to @lecture.teacher.name, @lecture.teacher %></p>
      </span>
    </h3>
    
    <div class="scores">
      <% if @lecture.reviews.blank? %>
        <p>レビューはありません。</p>
      <% else %>
        <div id="star-lecture<%= @lecture.id %>"></div>
        <h4>満足度： <span class="score"><%= @lecture.average_score %></span><span class="review-count">&nbsp;(<%= @lecture.all_reviews_count %>)</span></h4>
      <% end %>
    </div>
    <!--
    <p><%= @lecture.updated_at.strftime("%Y-%m-%d %H:%M") %></p>-->
    <%# 自分の投稿のときのみ表示 %>
    <% if current_user?(@lecture.user) %>
      <%= link_to "編集", edit_lecture_path %>
      <%= link_to "削除", @lecture, method: :delete, data: { confirm: "削除すると、このクラスに関するすべてのレビューが削除されます。本当に削除しますか？"} %>
    <% end %>
    <%# 最も参考になっているレビュー関係 %>
    <div>
      <% if @helpful_review %>
        <p><strong>最も参考になっているレビュー</strong></p>
        <div class="most_helpful_review">
          <span id="star-helpful-review"></span>
          <p><%= link_to @helpful_review.user.name, @helpful_review.user %></p>
          <p class="timestamp">
            <%= @helpful_review.updated_at.strftime("%Y-%m-%d") %>
          </p>
          <p><%= @helpful_review.content %></p>
          <%# 役に立ったボタン %>
          <div id="helpfuls_buttons_<%= @helpful_review.id %>">
            <%= render partial: 'helpfuls/helpful', locals: { lecture: @helpful_review.lecture, review: @helpful_review } %>
          </div>
        </div>
      <% else %>
        <p>レビューがありません</p>
      <% end %>
    </div>

    <%# 自分がレビューしたことあるかを確認 %>
    <% if @lecture.review?(current_user) %>
      <%# 自分が書いたレビューへのリンクを表示 %>
      <%= link_to "あなたが書いたこのクラスのレビューを見る", lecture_review_path(@lecture, @lecture.my_review(current_user)) %>
    <% else %>
      <%# レビュー投稿欄 %>
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
          レビューを書く
        </button>
      </p>
      <div class="collapse" id="collapseReview">
        <div class="card card-body">
          <%= render 'reviews/form' %>
        </div>
      </div>
    <% end %>
  </div>

  <%# レビュー表示 %>
  <div class="col-md-10 lecture-reviews">
    <% if @reviews.any? %>
      <p>レビュー数 (<%= @lecture.all_reviews_count %>)</p>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= paginate @reviews, theme: 'twitter-bootstrap-4' %>
    <% end %>
  </div>
</div>

<%# 星表示のためのjavascript %>
<script>
  $('#star-lecture<%= @lecture.id %>').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf  : '<%= asset_path('star-half.png') %>',
    half      : true,
    readOnly: true,
    score: <%= @lecture.average_score %>,
  });

  // 最も参考になるレビューの星表示
  <% if @helpful_review %>
    $('#star-helpful-review').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      half      : false,
      readOnly: true,
      score: <%= @helpful_review.score %>,
    });
  <% end %>
</script>