<h2><%= t('.edit') %> <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: t('.email') %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.waiting') %>: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i><%= t('.leaveit') %></i><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br/>
      <em><%= @minimum_password_length %> <%= t('.minichar') %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: t('.newpass') %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i><%= t('.curpassconfirm') %></i><br/>
    <%= f.password_field :current_password, autocomplete: t('.curpass') %>
  </div>

  <div class="actions">
    <%= f.submit t('.update') %>
  </div>
<% end %>

<h3><%= t('.cancel') %></h3>

<p><%= t('.Unhappy') %><%= button_to t('.cancel'), registration_path(resource_name), data: { confirm: t('.sure') }, method: :delete %></p>

<%= link_to t('.back'), :back %>
