<% provide(:title, 'Sign up') %>
<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="register-form-box">
    <div class="form-content">
      <div class="field">
        <%= f.label :name,t('.nickname') %><br/>
        <%= f.text_field :name, autofocus: true, autocomplete: t('.name') %>
      </div>

<!-- とりま今は無くしてる！
      <div class="field">
        <%= f.label :grade,t('.grade') %><br/>
        <%= f.select :grade, User.grades_i18n.keys.map {|k| [I18n.t("enums.user.grade.#{k}"), k]} %>
      </div>

      <div class="field">
        <%= f.label :gender,t('.gender') %><br/>
        <%= f.radio_button :gender, '', {:checked => true} %><%= t('.unspecified') %>
        <%= f.collection_radio_buttons :gender, User.genders_i18n, :first, :last do |b|  %>
          <%=  b.radio_button(class: "form-contorl") %>
          <%= b.label %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :faculty,t('.faculty') %><br/>
        <%= f.radio_button :faculty, '', {:checked => true} %><%= t('.unspecified') %>
        <%= f.collection_radio_buttons :faculty, ApuUser.faculties_i18n, :first, :last do |b|  %>
          <%=  b.radio_button(class: "form-contorl") %>
          <%= b.label %>
        <% end %> 
      </div> 

  -->

      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= t('.mini-2') %><%= @minimum_password_length %><%= t('.mini') %>)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: t('.newpass') %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, autocomplete: t('.newpass') %>
      </div>
    </div>

    <%# 利用規約とプライバシーポロシーに同意するチェックボタン %>
    <%= f.check_box :agreement, :as => :boolean, checked:false %>
    <% if session[:locale] == "en" || session[:locale].blank? %>
      <%# 英語の時 %>
      I agree to the <%= link_to "Terms of Service", page_path('terms') %> and <%= link_to "Privacy Policy", page_path('terms') %>
    <% elsif session[:locale] == "ja" %>
      <%# 日本語の時 %>
      <%= link_to "利用規約", page_path('terms') %>と<%= link_to "プライバシーポリシー", page_path('terms') %>に同意する
    <% end %>

    <div class="actions field mx-auto">
      <%= f.submit t('.submit'), class: "btn btn-success" %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
