<% provide(:title, 'Sign up') %>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name,t('.nickname') %><br/>
    <%= f.text_field :name, autofocus: true, autocomplete: t('.name') %>
  </div>

  <div class="field">
    <%= f.label :grade,t('.grade') %><br/>
    <%= f.select :grade, User.grades_i18n.keys.map {|k| [I18n.t("enums.user.grade.#{k}"), k]} %>
  </div>

  <div class="field">
    <%= f.label :gender,t('.gender') %><br/>
    <%= f.radio_button :gender, '', {:checked => true} %><%= t('.unspecified') %>
    <%= f.collection_radio_buttons :gender, User.genders_i18n, :first, :last do |b|  %>
      <%=  b.radio_button(class: "form-contorl") %>
      <%= b.label %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :faculty,t('.college') %><br/>
    <%= f.radio_button :faculty, '', {:checked => true} %><%= t('.unspecified') %>
    <%= f.collection_radio_buttons :faculty, User.faculties_i18n, :first, :last do |b|  %>
      <%=  b.radio_button(class: "form-contorl") %>
      <%= b.label %>
    <% end %> 
  </div> 

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= t('.mini-2') %><%= @minimum_password_length %><%= t('.mini') %>)</em>
    <% end %><br/>
    <%= f.password_field :password, autocomplete: t('.newpass') %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: t('.newpass') %>
  </div>

  <p><%= link_to t('.read'), page_path('terms') %></p>

  <div class="actions">
    <%= f.submit t('.agree') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
