<% visitor = notification.visitor %>
<% visited = notification.visited %>
<li>
  <strong>
    <%= link_to user_path(visitor) do %>
      <%= render partial: "shared/user_image/display_icon20", locals: {user: visitor} %>
    <% end %>
  </strong>      
  <div>
    <strong>
      <%= link_to user_path(visitor) do %>
        <%= visitor.name %><%= t('.san') %>
      <% end %>
      <%= t('.ga') %>
      <%# 通知内容を種類ごとに変更 %>
      <% case notification.action %>
        <% when 'helpful' then %>
          <%= link_to t('.yourreview'), lecture_review_path(notification.review.lecture.id ,notification.review.id), style: "font-weight: bold;" %><%= t('.liked') %>
          <%= t('.point') %><i class="fas fa-coins"></i>
        <% when 'helpful_not_point' then %>
          <%# 参考になるを押された際に押した人が自分の団体関係者の場合はポイントが付与されない %>
          <%= link_to t('.yourreview'), lecture_review_path(notification.review.lecture.id ,notification.review.id), style: "font-weight: bold;" %><%= t('.liked') %>
        <% when 'follow' then %>
          <%= t('.startfollow') %>
        <% when 'join_request' then %>
          <%= link_to "#{t('.en_join_request')}#{Group.find_by(id: notification.group_id).name}#{t('.ja_join_request')}",  group_confirmation_path(notification.group_id), style: "font-weight: bold;" %>
        <% end %>
    </strong>
    <span class="small text_muted text-right">
      <br><%= time_ago_in_words(notification.created_at).upcase %><%= t('.ago') %>
    </span>
  </div>
</li>
<hr>