<% provide(:title, 'zoom編集') %>
<% provide(:button_text, '編集') %>
<h1>ZOOM編集</h1>

<%= form_with(model: @zoom, local: true) do |f| %>
  <%= render 'shared/error_messages', object: @zoom %>
    <div class="container">
      <div class="zoom-edit row">
        <div class="col d-sm-block d-none"></div>
        <div class="col-10 offset-1">
          <div>
            <%= f.label :title %>
            <span>ex) 1回生向けのオススメ授業</span>
            <%= f.text_field :title, :placeholder => "zoomで話す内容を一言で！", class: 'form-control' %>
          </div>
          <div>
            <%= f.label :join_url %>
            <span>ex) https://us04web.zoom.us...</span>
            <%= f.text_field :join_url, class: 'form-control', :placeholder => "招待リンクをコピーしてください" %>
          </div>
          <div>
            <%= f.label :start_time %>
            <br>
            <span><small>現在時刻から数分後に設定すると良いです</small></span>
            <br>
            <%= f.datetime_field :start_time, class: 'form-control' %>
          </div>
          <div>
            <%= f.label :end_time %>
            <br>
            <%= f.datetime_field :end_time, class: 'form-control' %>
          </div>
          <% if @groups.count > 0  %>
            <div>
              <%= f.label :group_id %>
              <br>
              <span><small>団体としてのzoomを作成する場合は以下から選んでください。</small></span>
              <br>
              <%= f.collection_select(:group_id, @groups, :id, :name, {include_blank: '選択なし'}, class: "form-select form-select-lg ")%>
            </div>
          <% end %>
          <div>
            <%= f.label :is_public %>
            <%= f.check_box :is_public, class: 'edit-control' %>
          </div>
          <div>
            <%= f.label :is_public %>
            <%= f.check_box :is_public, class: 'edit-control' %>
        </div>
          <div>
            <%= f.submit '更新する', class: "btn btn-primary"%>
          </div>
        </div>
      <div class="col d-sm-block d-none"></div>
      </div>
    </div>
<% end %>