<% @zooms.each do |f| %>
  <% if f.end_time.present? && (f.end_time - Time.now) >= 0 %>
    <div class = "zoom_room">
    <%= link_to zoom_path(f.id) do %>
      <p><%= truncate(f.title, length: 10)%></p>
    <% end %>

    <%= link_to user_path(f.user.id) do %>
      ホスト: <%= u_display_name(f.user) %>
    <% end %>

    <p>参加者数: <%= f.count %><br>
    <!--
    説明: <%= truncate(f.description, length: 10)%><br>
    -->
    開始時刻: <%= f.start_time.strftime("%m/%d %H:%M") %><br>
    終了時刻: <%= f.end_time.strftime("%m/%d %H:%M") %></p>
    <% if current_user.belongs_zoom?(f) %>
    <!-- すでにzoomへの参加リンクを押している場合そのままzoomの招待リンクに飛ばす -->
      <%= link_to "このzoomに参加する", f.join_url, class: "btn btn-primary", target: :_blank, rel: "noopener noreferrer"  %>
    <% else %>
    <!-- すでにzoomへの参加リンクを押していない場合user_zooms_pathを通す -->
      <%= link_to "このzoomに参加する", user_zooms_path(f.id), method: :post, class: "btn btn-primary", target: :_blank, rel: "noopener noreferrer"  %>
    <% end %>
    </div>
  <% end %>
<% end %>

<%= link_to "自分がホストとしてzoomを作る", new_zoom_path, class: "btn btn-success" %>