<% if user_signed_in? %>
  <% provide(:title, 'ZoomHouse') %>
  <%# 運営からのメッセージがあったら表示する %>
  <% if @news.exists? %>
    <% @news.each do |news| %>
      <%= link_to news.title, news, class:"news_by" %>
    <% end %>
  <% end %>

  <% if @slides %>
    <div class="slide-container">
      <div class="slide_show">
        <% @slides.each do |slide| %>
          <div class="slide_content">
            <% if !slide.link.blank? %>
              <%= link_to "slide.link", target: :_blank, rel: "noopener noreferrer" do %>
                <%= image_tag slide.slide_image.to_s, alt: "スライド", class: "slide" %>
              <% end %>
            <% else %>
                <%= image_tag slide.slide_image.to_s, alt: "スライド", class: "slide" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="zoom-index">
    <%# <h2>ZoomHouse</h2> %>
    <%= link_to "+ New room", new_zoom_path, class: "btn btn-success" %>
    <% @zooms.each do |f| %>
      <% if (f.end_time - Time.now) >= 0 %>
      <div class="container p-0">
        <div class = "zoom_room row">
          <% if Time.now > f.start_time %> 
            <div class="ontime">
              <i class="fas fa-compact-disc fa-spin white"></i> 
              <strong>Ontime</strong>
            </div>
          <% end %>
          <span class="title col-12"><%= f.title %></span>
          <p class="zoom_info col-9">
          <%= link_to user_path(f.user.id) do %>
            <i class="fas fa-user-circle fa-lg"></i>&nbsp;<%= u_display_name(f.user) %>
          <% end %>

          <!-- 参加人数 -->
          <span class="watcher">
          <i class="fas fa-user"></i> <%= f.count %>
          </span>
          <br>
          <!-- 開催時刻 -->
          <%= f.start_time.strftime("%m/%d %H:%M") %> ~ <%= f.end_time.strftime("%m/%d %H:%M") %>
          </p>
          <div class="col-12 p-0">
          <%= link_to "Enter", user_zooms_path(f.id), method: :post, class: "btn btn-primary", target: :_blank, rel: "noopener noreferrer"  %>
          <% if f.user == current_user %>
            <%= link_to "削除", zoom_path(f.id), method: :delete,class: "btn btn-danger"%>
            <%= link_to "編集", edit_zoom_path(f.id),class: "btn btn-success"%>
          <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

      <!-- <div class="nav nav-tabs ranking-nav" id="nav-tab" role="tablist">
        <a class="col-6 nav-item nav-link <%= 'active' if params[:active_tab] == 'nav-teacher-ranking' || params[:active_tab] == nil %>" id="nav-teacher-lanking-tab" data-toggle="tab" href="#nav-teacher-lanking" role="tab" aria-controls="nav-teacher-lanking" aria-selected="false"><i class="fas fa-headset"></i>&nbsp;公開中</a>

        <a class="col-6 nav-item nav-link <%= 'active' if params[:active_tab] == 'nav-lecture-ranking' %>" id="nav-lecture-ranking-tab" data-toggle="tab" href="#nav-lecture-ranking" role="tab" aria-controls="nav-lecture-ranking" aria-selected="true"><i class="fas fa-bed"></i>&nbsp;公開予定</a>
      </div> %>-->
<% else %>
  <% provide(:title, 'クラスレビューサイト') %>
  <div class="landing-page mx-lg-5 pz-lg-5">
    <%# title %>
    <div class="land-title">
      <div class="logo">
        <%= link_to image_tag("HeyCollegelogo.png", alt: "ロゴ", width: "250px", id: 'logo'), root_path %>
      </div>
      <h6>- 大学生向けSNS -</h6>
      <div class="links">
        <div class="btn btn-success">
          <%= link_to new_user_registration_path do %>
            <i class="fas fa-arrow-circle-right"></i>新規登録はこちら
          <% end %>
        </div>
        <div class="btn">
          <i class="fas fa-arrow-circle-down"></i>Hey Collegeって？
        </div>
      </div>
    </div>
  
    <%# about review %>
    <div class="land-class-review">
      <h2>Class Review</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="img">
              <%= link_to image_tag("Screen Shot 2021-04-03 at 12.47.52 PM.png", alt: "ロゴ", width: "200px", id: 'logo'), root_path %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex align-items-center h-100">
              <ul class="explanation scroll_appear animate">
                <li>
                  <div class="icon">
                    <i class="fas fa-pencil-alt fa-2x"></i>
                  </div>
                  <div class="exple">友達のレビューを見よう !</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <%# about group %>
      <div class="land-class-review">
        <h2>Group List</h2>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 d-lg-block d-none">
              <div class="d-flex align-items-center h-100">
                <ul class="explanation scroll_appear animate">
                  <li>
                    <div class="icon">
                       <i class="fas fa-users fa-2x"></i>
                    </div>
                    <div class="exple">学生団体を見よう！</div>
                  </li>
                </ul>                
              </div>
            </div>
            <div class="col-lg-6">
              <div class="img">
                <%= link_to image_tag("Screen Shot 2021-04-03 at 12.51.18 PM.png", alt: "ロゴ", width: "200px", id: 'logo'), root_path %>
              </div>
            </div>
            <div class="col-lg-6 d-block d-lg-none">
              <div class="d-flex align-items-center h-100"> 
                <ul class="explanation scroll_appear animate">
                  <li>
                    <div class="icon">
                      <i class="fas fa-users fa-2x"></i>
                    </div>
                    <div class="exple">学生団体を見よう！</div>
                  </li>
                </ul> 
              </div>
            </div>
          </div>
        </div>
      </div>

      <%# about ZoomHouse %>
      <div class="land-e-mee">
        <h2>ZoomHouse</h2>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="img">
                <%= link_to image_tag("Screen Shot 2021-04-03 at 12.48.13 PM.png", alt: "ロゴ", width: "200px", id: 'logo'), root_path %>
              </div>  
            </div>
            <div class="col-lg-6">
              <div class="d-flex align-items-center h-100">
                <ul class="explanation scroll_appear animate">
                  <li>
                    <div class="icon">
                      <i class="fas fa-comments fa-2x"></i>
                    </div>
                    <div class="exple">
                      <p>
                        イベントに参加しよう！
                        <br>友達と話そう！
                      </p>
                    </div>
                  </li>
                </ul>                 
              </div>
            </div>
          </div>
        </div>
        <%# new registration %>
        <div class="links">
          <div class="btn btn-success bottom-newgegi">
            <%= link_to new_user_registration_path do %>
              <i class="fas fa-arrow-circle-right"></i>新規登録はこちら
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
$(function(){
  $(window).scroll(function (){
    $(".animate > *").each(function(){
      var targetAnime = $(this).offset().top;
      var scroll = $(window).scrollTop();
      var windowHeight = $(window).height();
      if (scroll > targetAnime - windowHeight + 0){
        $(this).addClass("explanation moving");
      }
    });
  });
});
</script>

<% if @slides %>
  <script>
    $(function() {
      $('.slide_show').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 3000, //何ミリ秒で移り変わるかどうかの設定
      });
      // マウスをホバーしたときにそのスライドに移動
      $('.slick-dots li').on('mouseover', function() {
        $('.slide_show').slick('goTo', $(this).index());
      });
    });
  </script>
<% end %>