<% @zooms.each do |f| %>
  <div class = "zoom_room">
  <%= link_to zoom_path(f.id) do %>
    <p><%= truncate(f.title, length: 10)%></p>
  <% end %>

  <%= link_to user_path(f.user.id) do %>
    <p>ホスト: <%= f.user.name %></p>
  <% end %>
  
  <p>説明: <%= truncate(f.description, length: 10)%></p>
  <%= f.created_at.strftime("%m/%d %H:%M")%>
  <%= link_to "このzoomに参加する", f.join_url, class: "btn btn-primary", target: :_blank, rel: "noopener noreferrer" %>
  </div>
<% end %>

<%= link_to "自分がホストとしてzoomを作る", new_zoom_path, class: "btn btn-success" %>