<% provide(:title, '新規zoom作成') %>
<% provide(:button_text, '作成') %>
<h1>ZOOM作成</h1>

<%= render 'shared/error_messages', object: @zoom %>
<div class="row justify-content-center">
  <%= form_for(@zoom) do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>説明</h4>
  <%= f.text_area :description %>
  <h4>招待URL</h4>
  <%= f.text_field :join_url %>
  <h4>開始時刻</h4><small>現在時刻から数分後に設定すると良いです</small><br>
  <%= f.datetime_select :start_time, class: 'form-control date-picker' %>
  <h4>終了時刻</h4>
  <%= f.datetime_select :end_time, class: 'form-control' %>
  <p>
  <%= f.submit 'Create ZOOM', class: "btn btn-primary"%>
  </p>
  <% end %>
</div>