<p>タイトル: <%= @zoom.title%></p>

<%= link_to user_path(@zoom.user.id) do %>
  <p>ホスト: <%= display_name(@zoom.user) %></p>
<% end %>
<!--
<p>説明: <%= @zoom.description %></p>
-->
<% if @zoom.end_time.present? %>
  <p>参加者数: <%= @zoom.count %><br>
  <!--
  説明: <%= truncate(@zoom.description, length: 10)%><br>
  -->
  開始時刻: <%= @zoom.start_time.strftime("%m/%d %H:%M") %><br
  >終了時刻: <%= @zoom.end_time.strftime("%m/%d %H:%M") %></p>
<% end %>

<% if @zoom.user_id == current_user.id %>
  <%= link_to "編集", edit_zoom_path(@zoom.id),class: "btn btn-success"%>
  <%= link_to "削除", zoom_path(@zoom.id), method: :delete,class: "btn btn-danger"%>
<% elsif @zoom.end_time - Time.now >= 0%> 
  <% if current_user.belongs_zoom?(@zoom) %>
  <!-- すでにzoomへの参加リンクを押している場合そのままzoomの招待リンクに飛ばす -->
    <%= link_to "このzoomに参加する", @zoom.join_url, class: "btn btn-primary", target: :_blank, rel: "noopener noreferrer"  %>
  <% else %>
  <!-- すでにzoomへの参加リンクを押していない場合user_zooms_pathを通す -->
    <%= link_to "このzoomに参加する", user_zooms_path(@zoom.id), method: :post, class: "btn btn-primary", target: :_blank, rel: "noopener noreferrer"  %>
  <% end %>
<% else %>
  <p>このミーティングは終了しました</p>
<% end %>

<%= link_to "zoom一覧に戻る", zooms_path %>