<%= form_with(model: @group, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div>
    <%# ヘッダー系 %>
    <% if @group.header_image? %>
      <div><%= image_tag @group.header_image.url, alt: "group-header" %></div>
    <% else %>
      <div class="header_sample"></div>
    <% end %>
    <%= f.file_field :header_image, accept: 'image/jpeg,image/gif,image/png,image/jpg', class: "image-select-btn" %>
    <%= f.hidden_field :header_image_cache, accept: 'image/jpeg,image/gif,image/png,image/jpg', class: "image-select-btn" %>
    <label>
      <%= f.check_box :remove_header_image %>画像を削除する
    </label>
  </div>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <div>
    <%# 下6行はグループプロフィール編集に関する記述 %>
    <%= render partial: "shared/group_image/display_icon80", locals: {group: @group} %> <%# 80*80のプロフィール画像表示 %>
    <%= f.file_field :profile_image, accept: 'image/jpeg,image/gif,image/png,image/jpg', class: "image-select-btn" %>
    <%= f.hidden_field :profile_image_cache, accept: 'image/jpeg,image/gif,image/png,image/jpg', class: "image-select-btn" %>
    <label>
      <%= f.check_box :remove_profile_image %>画像を削除する
    </label>
  </div>

  <%= f.label :instagramのユーザー名%>
  <%= f.text_field :instagram_name, class: 'form-control' %>
  <%= f.label :twitteのユーザー名 %>
  <%= f.text_field :twitter_name, class: 'form-control' %>
  <%= f.label :profile %>
  <%= f.text_area :profile, size: "20x10", maxlength: "600", class: 'form-control' %>
  
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>