<% provide(:title, @group.name) %>
<div class="col-lg-8 offset-lg-2" id="box" >
  <div class="group-show" >
    <%# 下5行はヘッダー画像に関する記述 %>
    <% if @group.header_image? %>
      <div><%= image_tag @group.header_image.url, alt: "group-header" %></div>
    <% else %>
      <div class="header_sample"></div>
    <% end %>
    <span class="frame">
      <%= render partial: "shared/group_image/display_icon80", locals: {group: @group} %>
      <span class="float-right-btn">
        <% if @relation &&  @relation.admin %>
          <%= link_to t('.allowothers'), {controller: 'groups', action: 'edit_admin', id: @group.id}, class: 'btn btn-primary' %>
          <br>
          <%= link_to t('.profileedit'), edit_group_path(@group.id), class: 'btn btn-primary' %>
        <% end %>
        <br>
        <%= render 'join_form' %>  
      </span>
      <div class="frame profile">
        <br><%= t('.score') %>：<%= @group.group_point.current_point.round(0) %>
      </div>
      <div class="float_clear"></div>
    </span>
    <div class="group-name">
      <strong><%= @group.name %></strong>
    </div>
    <!--
    <div class="follow">
      <span class=color-brack>
        <!-ここにフォローしている人数->フォロー中
      </span>
      &nbsp;&nbsp;&nbsp;
      <span class=color-brack>
        <!-ここにフォロワーの人数->フォロワー
      </span>
    </div>-->
    <div>
      <div class="sns">
        <%# プロフィール表示 %>
        <% if @group.profile.present? %>
          <small>
            <%= t('.profile') %>
            <br>
            <%= safe_join(@group.profile.split("\n"),tag(:br)) %>
          </small>
        <% elsif @relation &&  @relation.admin %>
          <small><%= link_to t('.addprofile'), edit_group_path(@group.id) %></small>
        <% end %>
        <br>
        <% if @group.instagram_name.present? %>
          <small><i class="fab fa-instagram fa-1x"></i><%= link_to @group.instagram_name, @instagram, target: :_blank, rel: "noopener noreferrer" %></small>
        <% elsif @relation &&  @relation.admin %>
          <small><i class="fab fa-instagram fa-1x"></i><%= link_to t('.addaccount'),edit_group_path(@group.id) %></small>
        <% end %>
        &nbsp;&nbsp;
        <% if @group.twitter_name.present? %>
          <small><i class="fab fa-twitter-square fa-1x"></i><%= link_to @group.twitter_name, @twitter, target: :_blank, rel: "noopener noreferrer" %></small>
        <% elsif @relation &&  @relation.admin %>
          <small><i class="fab fa-twitter-square fa-1x"></i><%= link_to t('.addaccount'),edit_group_path(@group.id) %></small>
        <% end %>
      </div>
    </div>
    <div class="member-list">
      <strong class="member"><%= t('.member') %></strong>
      <%= render 'shared/stats_user' %>
      <% @users.each do |user| %>
        <li class="list-group-item list-group-item-action member-list-box">
          <%= render partial: "shared/user_image/display_icon20", locals: {user: user} %><%= link_to u_display_name(user), user %>
        </li>
      <% end %>
      <div class="page-box">
        <%= paginate @users, param_name: "user_page", theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>

