<% provide(:title, @group.name) %>
<div id="box" >
  <%# グループショー全体 %>
  <div class="group-show" >
    <div class="group-headers">
      <%# 下5行はヘッダー画像に関する記述 %>
      <% if @group.header_image? %>
        <div><%= image_tag @group.header_image.url, alt: "group-header" %></div>
      <% else %>
        <%= image_tag("default_header.png", alt: "ヘッダー画像") %>
      <% end %>
        <%# profile pic %>
      <div class="group-img">
        <%= render partial: "shared/group_image/display_icon80", locals: {group: @group} %>
      </div>
      <%# leave %>
      <%= render 'join_form' %>
      <%# group settings %>
      <div class="group-settings" onclick="openGroupSet()">
        <i class="fas fa-users-cog fa-2x"></i>
      </div>

      <%# ドロップボタン%>
      <div class="group-setting-drop" >
        <ul>
          <% if @relation &&  @relation.admin %>
          <li>  
            <%= link_to t('.allowothers'), {controller: 'groups', action: 'edit_admin', id: @group.id}, class: '' %>
          </li>
          <hr>
          <li>
          <%= link_to t('.profileedit'), edit_group_path(@group.id), class: '' %>
          </li>
          <% end %>
        </ul>
      </div>

    </div>

    <%# group name %>
    <div class="group-name">
      <%= @group.name %>
    </div>

    <%# コンテント %>
    <div class="group-info">
      <div><%= t('.score') %>：<%= @group.group_point.current_point.round(0) %></div>
    <!--
    <div class="follow">
      <span class=color-brack>
        <!-ここにフォローしている人数->フォロー中
      </span>
      &nbsp;&nbsp;&nbsp;
      <span class=color-brack>
        <!-ここにフォロワーの人数->フォロワー
      </span>
    </div>-->
    <div>
      <div class="sns">
        <%# プロフィール表示 %>
        <% if @group.profile.present? %>
          <small class="group-bio">
            <%# t('.profile') %>
            <%= safe_join(@group.profile.split("\n"),tag(:br)) %>
          </small>
        <% elsif @relation &&  @relation.admin %>
          <small><%= link_to t('.addprofile'), edit_group_path(@group.id) %></small>
        <% end %>
        <br>
        <% if @group.instagram_name.present? %>
          <small><i class="fab fa-instagram fa-1x"></i><%= link_to @group.instagram_name, @instagram, target: :_blank, rel: "noopener noreferrer" %></small>
        <% elsif @relation &&  @relation.admin %>
          <small><i class="fab fa-instagram fa-1x"></i><%= link_to t('.addaccount'),edit_group_path(@group.id) %></small>
        <% end %>
        &nbsp;&nbsp;
        <% if @group.twitter_name.present? %>
          <small><i class="fab fa-twitter-square fa-1x"></i><%= link_to @group.twitter_name, @twitter, target: :_blank, rel: "noopener noreferrer" %></small>
        <% elsif @relation &&  @relation.admin %>
          <small><i class="fab fa-twitter-square fa-1x"></i><%= link_to t('.addaccount'),edit_group_path(@group.id) %></small>
        <% end %>
      </div>
    </div>
    <div class="member-list">
      <%= render 'shared/stats_user' %>
      <% @users.each do |user| %>
        <li class="list-group-item list-group-item-action member-list-box">
          <%= render partial: "shared/user_image/display_icon20", locals: {user: user} %><%= link_to u_display_name(user), user %>
        </li>
      <% end %>
      <div class="page-box">
        <%= paginate @users, param_name: "user_page", theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
    </div>
  </div>
</div>

<script>
// ドロップ開閉
  function openGroupSet() {
    var open = document.querySelector(".group-setting-drop");
    open.classList.toggle("group-setting-drop-on");
  }
</script>

