<%# このファイルはもういりません %>

<li class="list-group-item list-group-item-action">
  <span id="star-lecture<%= lecture.id %>"></span>
  <p><%= link_to l_display_name(lecture), lecture.becomes(Lecture) %></p>
  &emsp;<%= t('.teachername') %>：
  <span class="teacher_name"><%= link_to t_display_name(lecture.teacher), lecture.teacher %></span>
  <p><% unless lecture.reviews.blank? %>
    <span><%= t('.reviews') %>(<%= lecture.all_reviews_count %>)</span>
  <% else %>
    <%= t('.noreviews') %>
  <% end %></p>
  <%# マイページのときのみ表示 %>
  <% if current_user?(lecture.user) %>
    <p>
      <%= link_to t('.edit'), edit_lecture_path %>
      <%= link_to t('.delete'), lecture, method: :delete, data: { confirm: t('.delete-lecture-message')} %>
    </p>
  <% end %>
</li>

<script>
  $('#star-lecture<%= lecture.id %>').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf  : '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly: true,
      score: <%= lecture.average_score %>,
    });
</script>