<li class="list-group-item list-group-item-action">
  <span id="star-lecture<%= lecture.id %>"></span>
  <p><%= link_to lecture.name, lecture %></p>
  &emsp;<%= t('.teachername') %>：
  <span class="teacher_name"><%= link_to lecture.teacher.name, lecture.teacher %></span>
  <p><% unless lecture.reviews.blank? %>
    <span><%= t('.reviews') %>(<%= lecture.all_reviews_count %>)</span>
  <% else %>
    <%= t('.noreviews') %>
  <% end %></p>
  
</li>

<script>
  $('#star-lecture<%= lecture.id %>').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf  : '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly: true,
      score: <%= lecture.average_score %>,
    });
</script>