<% provide(:title, t('.follower')) %>
<div class="col-lg-6 offset-lg-3">
    <div class="following-follower-index">
        <h2><%= t('.follower') %></h2>
        <% @followers.each do |f_user| %>
        <ul class="following-follower">
            <%= link_to f_user do %>
                <div id="item1">
                <%= render partial: "shared/user_image/display_icon20", locals: {user: f_user} %>
                </div>
            <% end %>
            <%= link_to f_user do %>
                <div class="follow-name" id="item2">
                    <%= display_name(f_user) %>
                </div>
            <% end %>
            <%= f_user.faculty_i18n %>
            <span id='follow-button_<%= f_user.id %>'>
                <div id="item3">
                    <%= render 'users/follow-button', user: f_user  %>
                </div>
            </span>
        </ul>     
        <% end %>
    </div>
</div>