<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>ユーザー情報</h2>

    <table class="table">
    <tr>
        <th>name</th>
        <td><%= @user.name %></td>
    </tr>
    <tr>
        <th>性別</th>
        <td><%= @user.gender_i18n  %></td>
    </tr>
    <tr>
        <th>学部</th>
        <td><%= @user.faculty %></td>
    </tr>
    <tr>
        <th>学年</th>
        <td><%= @user.grade %></td>
    </tr>
    </table>
    <% if @user == current_user %>
      <%= link_to '名前を編集する', edit_user_path(@user.id)%>
    <% end %>
    <h2>過去のレビュー</h2>
    <table class="table">
      <tr>
        <th>講義名</th>
        <th>スコア</th>
        <th>レビュータイトル</th>
      </tr>
      <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to review.lecture.name, lecture_path(review.lecture.id) %></td>
        <td><%= review.score %></td>
        <td><%= link_to review.title, lecture_review_path(review.lecture.id,review.id) %></td>
      </tr>
      <% end %>
    </table>

    <% if @reviews.any? %>
      <h3>レビュー数 (<%= @reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
    <% end %>
  </div>
</div>