<%# ページのタイトル %>
<% if @user == current_user %>
  <% provide(:title, t('.title_login') ) %>
<% else %>
  <% provide(:title, @user.name) %>
<% end %>
<div class="user_show">

  <div class="frame">

    <%# pics %>
    <div class="frame_icon">
      <%= render partial: "shared/user_image/display_icon80", locals: {user: @user} %> <%# 80*80のプロフィール画像表示 %>
    </div>

    <%# 編集 %>
    <% if @user == current_user %>
      <div class="usershow-editbutton">
        <%= link_to edit_user_path(@user.id) do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
    <% else %>
        <span id='follow-button_<%= @user.id %>'>
          <%= render 'users/follow-button', user: @user  %>
        </span>
    <% end %>

    <%# マイページのときのみ表示 %>
    <% if @user == current_user %>
      <%# その他・設定ボタン (PC版)%>
      <div class="dropdown d-none d-sm-block">
        <button class="btn dropdown-toggle p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">            
          <%= link_to "https://forms.gle/yoxHXthES44B4f6VA", class: "dropdown-item", target: :_blank, rel: "noopener noreferrer" do %>
            &nbsp;<span class="d-inline"><%= t('.contactus') %>&nbsp;</span>
          <% end %>
          <%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete do %>
            &nbsp;<span class="d-inline"><%= t('.logout') %>&nbsp;</span>
          <% end %>
          <%= link_to page_path('terms'), class: "dropdown-item" do %>
            &nbsp;<span class="d-inline"><%= t('.term') %>&nbsp;</span>
          <% end %>
          <%= link_to page_path('privacypolicy'), class: "dropdown-item" do %>
            &nbsp;<span class="d-inline"><%= t('.privacypolicy') %>&nbsp;</span>
          <% end %>
          <%= link_to users_hide_path(@user), class: "dropdown-item", method: :patch, data: { confirm: t('.delete_account_message') } do %>
            &nbsp;<span class="d-inline"><%= t('.leave') %>&nbsp;</span>
          <% end %>
        </div>
      </div>
    <% end %> 
  </div>

    
  <%# ユーザーネーム %>
  <div class="usershow-username">
    <%= @user.name %>
  </div>

  <%# フォロー %>
  <div class="usershow-followe-follower">
    <span id="follow", id='following-count_<%= @user.id%>'>
      <%= link_to users_following_path(@user) do%>
        <span class=color-brack>
          <%= @user.follower.count %><%= t('.following') %>
        </span>
      <% end %>
    </span>
    &nbsp;&nbsp;&nbsp;
    <span id='follower-count_<%= @user.id%>'>
      <%= link_to users_follower_path(@user) do%>
        <span class=color-brack>
          <%= @user.followed.count %><%= t('.follower') %>
        </span>
      <% end %>
    </span>
  </div>


      <%# ステータス %>
      <div class="sns">
        <div class="frame profile">
          <!---
            <br>性別:
              <%= @user.gender_i18n  %> -->
              <%= t('.college') %>：<%= @user.faculty_i18n %>
            <br><%= t('.grade') %>：<%= @user.grade_i18n %>
            <br><%= t('.college_point') %>：<%= @user.user_point.current_point.round(0) %>
            <!--<br>スコア：<%= @user.user_point.total_point.round(0) %>-->
          </div>
        <small><%= t('.msg') %><br><%= safe_join(@user.message.split("\n"),tag(:br)) if @user.message %></small>
        <br>
       </div>      

       <div class="usershow-add-accounts">
        <% if @user.instagram_name.present? %>
          <small><i class="fab fa-instagram fa-1x"></i> <%= link_to @user.instagram_name,@instagram, target: :_blank, rel: "noopener noreferrer" %></small>
        <% elsif @user == current_user  %>
          <small><i class="fab fa-instagram fa-1x"></i> <%= link_to t('.add_account'),edit_user_path(@user.id) %></small>
        <% end %>
        &nbsp;&nbsp;
        <% if @user.twitter_name.present? %>
          <small><i class="fab fa-twitter-square fa-1x"></i><%= link_to @user.twitter_name,@twitter, target: :_blank, rel: "noopener noreferrer" %></small>
        <% elsif @user == current_user %>
          <small><i class="fab fa-twitter-square fa-1x"></i><%= link_to t('.add_account'),edit_user_path(@user.id) %></small>
        <% end %>
       </div> 

      <%# 所属団体 %>
      <% if @groups.any? %>
        <div class="group-join">
          <%= t('.mygroup') %>（<%= @groups.count %>
          <ul>
            <% @groups.each do |group| %>
              <li><%= render partial: "shared/group_image/display_icon20", locals: {group: group} %><%= link_to group.name, group %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><%= t('.review') %> (<%= @reviews.count %>)</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><%= t('.class') %> (<%= @lectures.count %>)</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <ol class="reviews">
            <% @reviews.each do |review| %>
              <%= render partial: "users/review", locals: {review: review} %>
            <% end %>
            <%= paginate @reviews, param_name: 'reviews_page', theme: 'twitter-bootstrap-4' %>
          </ol>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <ol class="lectures">
            <% @lectures.each do |lecture| %>
              <%= render partial: "users/lecture", locals: {lecture: lecture} %>
            <% end %>
            <%= paginate @lectures, param_name: 'lectures_page', theme: 'twitter-bootstrap-4' %>
          </ol>
        </div>
      </div>
</div>