<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>ユーザー情報</h2>

    <table class="table">
    <tr>
        <th>プロフィール画像</th>
        <td><%= gravatar_for @user %></td>
    </tr>
    <tr>
        <th>ニックネーム</th>
        <td><%= @user.name %></td>
    </tr>
    <tr>
        <th>性別</th>
        <td><%= @user.gender_i18n  %></td>
    </tr>
    <tr>
        <th>学部</th>
        <td><%= @user.faculty_i18n %></td>
    </tr>
    <tr>
        <th>学年</th>
        <td><%= @user.grade_i18n %></td>
    </tr>
    <tr>
        <th>Twitter</th>
          <% if @user.twitter_url.present? %>
            <td class="profile-link">
              <%= link_to @user.twitter_url, target: :_blank do %>
              <i class="fab fa-twitter-square fa-2x"></i>
              <% end %>
            </td>
          <% else %>
            <td class="profile-link">
              <%= link_to 'twitterアカウントを追加する', edit_user_path(@user.id)%>
            </td>
          <% end %>
    </tr>
    </table>
    <% if @user == current_user %>
      <%= link_to 'プロフィールを編集する', edit_user_path(@user.id)%><br>
      <small>※プロフィール画像は反映まで少し時間がかかることがあります</small>
    <% end %>
    <p>
      <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapsemyreview" aria-expanded="false" aria-controls="ccollapsemyreview">過去のレビュー</button>
    </p>
    
    <div class="collapse mx-auto" id="collapsemyreview">
      <div class="card card-body">
        <h2>過去のレビュー</h2>
        <table class="table">
          <tr>
            <th>講義名</th>
            <th>スコア</th>
            <th>レビュータイトル</th>
          </tr>
          <% @reviews.each do |review| %>
          <tr>
            <td><%= link_to review.lecture.name, lecture_path(review.lecture.id) %></td>
            <td><%= review.score %></td>
            <td><%= link_to review.content.truncate(10, omission: '・・・'), lecture_review_path(review.lecture.id,review.id) %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>

    <% if @reviews.any? %>
      <h3>レビュー数 (<%= @reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
    <% end %>
  </div>
</div>