<div class="about">
  <h1>About Hey College</h1>
  <div class="about-list">
    <div class="list-item">
      <p class="list-item_img"><%= image_tag("HeyCollegelogo.png", alt: "ロゴ", id: 'logo') %></p>
      <div class="list-item_inner">
        <h3 class="list-item_title">
          <a><i class="fas fa-arrow-circle-right green"></i>&nbsp;企業理念</a>
        </h3>
      </div>
    </div>
    <div class="list-item">
      <p class="list-item_img"><%= image_tag("HeyCollegelogo.png", alt: "ロゴ", width: "150px", id: 'logo') %></p>
      <div class="list-item_inner">
        <h3 class="list-item_title">
          <a><i class="fas fa-arrow-circle-right green"></i>&nbsp;事業内容</a>
        </h3>
      </div>
    </div>
    <div class="list-item">
      <p class="list-item_img"><%= image_tag("sdg_icon_04_ja_2", alt: "ロゴ", width: "150px", id: 'logo') %></p>
      <div class="list-item_inner">
        <h3 class="list-item_title">
          <a><i class="fas fa-arrow-circle-right green"></i>&nbsp;SDGsへの取り組み</a>
        </h3>
      </div>
    </div>
    <div class="list-item">
      <p class="list-item_img"><%= image_tag("HeyCollegelogo.png", alt: "ロゴ", width: "150px", id: 'logo') %></p>
      <div class="list-item_inner">
        <h3 class="list-item_title">
          <a><i class="fas fa-arrow-circle-right green"></i>&nbsp;IR 投資家情報</a>
        </h3>
      </div>
    </div>
     <div class="list-item">
      <p class="list-item_img"><%= image_tag("HeyCollegelogo.png", alt: "ロゴ", width: "150px", id: 'logo') %></p>
      <div class="list-item_inner">
        <h3 class="list-item_title">
          <a><i class="fas fa-arrow-circle-right green"></i>&nbsp;よくある質問</a>
        </h3>
      </div>
    </div>       
  </div>
</div>