<div class="landing-page mx-lg-5 pz-lg-5">
  <%# title %>
  <div class="land-title">
    <div class="logo">
      <%= link_to image_tag("HeyCollegelogo.png", alt: "ロゴ", width: "250px", id: 'logo'), root_path %>
    </div>
    <h6>- 大学生向けSNS -</h6>
    <div class="links">
      <div>
        <%= link_to new_user_registration_path do %>
          <i class="fas fa-arrow-circle-right"></i>新規登録
        <% end %>
      </div>
      <div>
        <i class="fas fa-arrow-circle-down"></i>Hey Collegeって？
      </div>
    </div>
  </div>
  
  <%# about review %>
  <div class="land-class-review">
    <h2>Class Review</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <div class="img">
            <%= link_to image_tag("Screen Shot 2021-04-03 at 12.47.52 PM.png", alt: "ロゴ", width: "200px", id: 'logo'), root_path %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex align-items-center h-100">
            <div class="explanation ">
              <div class="icon">
                <i class="fas fa-pencil-alt fa-2x"></i>
              </div>
              <div class="exple">友達のレビューを見よう !</div>
            </div>
          </div>
        </div>
      </div>
    </div>

 <%# about group %>
  <div class="land-class-review">
    <h2>Group List</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 d-lg-block d-none">
          <div class="d-flex align-items-center h-100">
            <div class="explanation">
              <div class="icon">
                <i class="fas fa-users fa-2x"></i>
              </div>
              <div class="exple">学生団体を見よう！</div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="img">
            <%= link_to image_tag("Screen Shot 2021-04-03 at 12.51.18 PM.png", alt: "ロゴ", width: "200px", id: 'logo'), root_path %>
          </div>
        </div>
        <div class="col-lg-4 d-block d-lg-none">
          <div class="d-flex align-items-center h-100">
            <div class="explanation">
              <div class="icon">
                <i class="fas fa-users fa-2x"></i>
              </div>
              <div class="exple">学生団体を見よう！</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# about e-mee %>
  <div class="land-e-mee">
    <h2>Zoom House</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <div class="img">
            <%= link_to image_tag("Screen Shot 2021-04-03 at 12.48.13 PM.png", alt: "ロゴ", width: "200px", id: 'logo'), root_path %>
          </div>  
        </div>
        <div class="col-lg-4">
          <div class="d-flex align-items-center h-100">
            <div class="explanation">
              <div class="icon">
                  <i class="fas fa-comments fa-2x"></i>
              </div>
              <div class="exple">
                <ul>
                  <li>イベントに参加しよう！</li>
                  <li>友達と話そう！</li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%# new registration %>
  <div class="links">
    <%= link_to new_user_registration_path do %>
      <i class="fas fa-arrow-circle-right"></i>新規登録
    <% end %>
  </div>
</div>