<li id="review-<%= review.id %>" class = "review list-group-item" >
    <span id="star-review<%= review.id %>"></span>

  <p><%= link_to review.lecture.name, review.lecture %></p>
  <%= link_to review.user do %>
    <%= image_tag 'default_user.png', :size => '20x20' %><%= display_name(review.user) %>
  <% end %>
  <p class="content">
    <%= safe_join(review.content.split("\n"),tag(:br)) %>
  </p>
  <p class="timestamp">
    <%= review.updated_at.strftime("%Y-%m-%d") %>
  </p>
  <%# レビュー作成者のときのみ削除欄を表示 %>
  <p>
    <% if current_user?(review.user) %>
      <%= link_to t('.delete'), lecture_review_path(review.lecture,review), method: :delete, data: { confirm: t('.reallydelete')} %>
    <% end %>
   </p>

  <%# 役に立ったボタン %>
  <div id="helpfuls_buttons_<%= review.id %>">
    <%= render partial: 'helpfuls/helpful', locals: { lecture: review.lecture, review: review } %>
  </div>
</li>

<%# 星表示のためのjavascript %>
<script>
  $('#star-review<%= review.id %>').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    half      : false,
    readOnly: true,
    score: <%= review.score %>,
  });
</script>