<% provide(:title, @teacher.name) %>
<div class="teacher_show">
  <!--
  <div>
    <%= link_to t('.back-to-teacher-index'), teachers_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to t('.return-to-class-index'), lectures_path %>
  </div>
  -->
  <%# プロフィール画像と作成者の名前 %>
  <div class="creator_name">
    <%= t('.teacher-creater') %>
    <%= link_to @teacher.user do %>
      <%= render partial: "shared/user_image/display_icon20", locals: {user: @teacher.user} %><%= display_name(@teacher.user) %>
    <% end %>
  </div>
  <div class="teacher-info">
    <p class="teachershow-teachername" style="text-decoration:none">
      <%= @teacher.name %>&nbsp; <%# レイアウトは任せるわ,以下3行が先生名を表示しつつクラスを作成するやつ %>
      <%= link_to new_lecture_path(teacher_id: @teacher.id) do %>
        <i class="far fa-plus-square"></i><%# ここにはさんだ内容がリンクになる %>
      <% end %>
    </p>
    <div class="scores">
    <span id="star-teacher<%= @teacher.id %>"></span>
    <span class="score"><%= @teacher.average_score %></span><span class="review-count">(<%= @teacher.review_comment_count %>)</span>
      
    </div>
    <p><%= @teacher.updated_at.strftime("%Y-%m-%d %H:%M") %></p>

    <%# 講義表示 %>
      <div class="col-md-8 teachers_class">
        <% if @teacher.lectures.any? %>
          <%= t('.teaching-class') %> (<%= @teacher.lectures.count %>)
          <%# 講義一覧をパーシャルで表示。5件を超えるとページで分けられる %>
          <div class="list-group">
            <% @lectures.each do |lecture| %>
              <%= render partial: "teachers/lecture", locals: {lecture: lecture} %>
            <% end %>
            <%= paginate @lectures, window:2, param_name: 'lectures_page', theme: 'twitter-bootstrap-4' %>
          </div>
        <% end %>
      </div>
      <%# 最も参考になるレビュー %>
      <div class="most_helpful_review">
        <strong><p class="most_helpful"><%= t('.most-helpful-reviews') %></p></strong>
        <% if @most_helpful_review %>
          <%= render partial: "teachers/review", locals: {review: @most_helpful_review} %>
        <% else %>
          <p><%= t('.null-review') %></p>
        <% end %>
      </div>
  
    <%# レビュー表示 %>
    <div class="col-md-12 lecture-reviews">
      <% if @reviews.present? %>

        <p><%= t('.number-of-review') %> (<%= @teacher.review_comment_count %>)</p>

        <ol class="reviews">
          <% @reviews.each do |review| %>
            <%= render partial: "teachers/review", locals: {review: review} %>
          <% end %>
        </ol>
        <%= paginate @reviews, param_name: "reviews_page", theme: 'twitter-bootstrap-4' %>
      <% end %>
    </div>
  </div>
</div>

<%# 星表示のためのjavascript %>
<script>
  $('#star-teacher<%= @teacher.id %>').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf  : '<%= asset_path('star-half.png') %>',
    half      : true,
    readOnly: true,
    score: <%= @teacher.average_score %>,
  });
</script>
