<% provide(:title, @teacher.name) %>
<div class="teacher_show">
  <%= link_to "》先生一覧へ戻る", teachers_path %>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "》クラス一覧へ戻る", lectures_path %>
  <%# プロフィール画像と作成者の名前 %>
  <span class="creator_name">
    作成者：
    <%= link_to @teacher.user do %>
      <%= gravatar_for @teacher.user, 20 %><%= @teacher.user.name %>
    <% end %>
  </span>
  <div class="teacher-info">
    <h3><%= @teacher.name %></h3>
    <div class="scores">
    <div id="star-teacher<%= @teacher.id %>"></div>
      <h4>満足度： <span class="score"><%= @teacher.average_score %></span><span class="review-count">(<%= @teacher.review_comment_count %>)</span></h4>
      
    </div>
    <p><%= @teacher.updated_at.strftime("%Y-%m-%d %H:%M") %></p>

    <%# 講義表示 %>
      <div class="col-md-8 teachers_class">
        <% if @teacher.lectures.any? %>
          <h3>教えているクラス (<%= @teacher.lectures.count %>)</h3>
          <%# 講義一覧をパーシャルで表示。5件を超えるとページで分けられる %>
          <div class="list-group">
            <% @lectures.each do |lecture| %>
              <%= render partial: "teachers/lecture", locals: {lecture: lecture} %>
            <% end %>
            <%= paginate @lectures, window:2, param_name: 'lectures_page', theme: 'twitter-bootstrap-4' %>
          </div>
        <% end %>
      </div>
      <%# 最も参考になるレビュー %>
      <div class="most_helpful_review">
        <strong><p class="most_helpful">最も参考になっているレビュー</p></strong>
        <% if @most_helpful_review %>
          <%= render partial: "teachers/review", locals: {review: @most_helpful_review} %>
        <% else %>
          <p>レビューがありません</p>
        <% end %>
      </div>
  
    <%# レビュー表示 %>
    <div class="col-md-12 lecture-reviews">
      <% if @reviews.present? %>
        <p>レビュー数 (<%= @teacher.review_comment_count %>)</p>
        <ol class="reviews">
          <% @reviews.each do |review| %>
            <%= render partial: "teachers/review", locals: {review: review} %>
          <% end %>
        </ol>
        <%= paginate @reviews, param_name: "reviews_page", theme: 'twitter-bootstrap-4' %>
      <% end %>
    </div>
  </div>
</div>

<%# 星表示のためのjavascript %>
<script>
  $('#star-teacher<%= @teacher.id %>').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf  : '<%= asset_path('star-half.png') %>',
    half      : true,
    readOnly: true,
    score: <%= @teacher.average_score %>,
  });
</script>
