<% provide(:title, @teacher.name) %>
<%= link_to "先生一覧へ", teachers_path %>
<%= link_to "講義一覧へ", lectures_path %>
<h3><%= @teacher.name %></h3>
<div class="scores">
  <h4>満足度： <span class="score"><%= @teacher.average_score %></span><span class="review-count"></span></h4>
  <div id="star-teacher<%= @teacher.id %>"></div>
</div>
<p><%= @teacher.user.name %></p>
<p><%= @teacher.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
<% if current_user?(@teacher.user) %>
  <%= link_to "編集", edit_teacher_path %>
  <%= link_to "削除", @teacher, method: :delete, data: { confirm: "本当に削除しますか？"} %>
<% end %>

<%# 講義表示 %>
  <div class="col-md-8">
    <% if @teacher.lectures.any? %>
      <h3>登録講義数 (<%= @teacher.lectures.count %>)</h3>
      <%# 講義一覧をパーシャルで表示 %>
      <div class="list-group">
        <% @teacher.lectures.includes(:reviews).each do |lecture| %>
          <%= render partial: "teachers/lecture", locals: {lecture: lecture} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%# 星表示のためのjavascript %>
<script>
  $('#star-teacher<%= @teacher.id %>').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf  : '<%= asset_path('star-half.png') %>',
    half      : true,
    readOnly: true,
    score: <%= @teacher.average_score %>,
  });
</script>
