<% provide(:title, @teacher.name) %>
<%= link_to "先生一覧へ", teachers_path %>
<%= link_to "講義一覧へ", lectures_path %>
<%# プロフィール画像と作成者の名前 %>
<%= link_to @teacher.user do %>
  <%= gravatar_for @teacher.user, 20 %><%= @teacher.user.name %>
<% end %>
<h3><%= @teacher.name %></h3>
<div class="scores">
  <h4>満足度： <span class="score"><%= @teacher.average_score %></span><span class="review-count"></span></h4>
  <div id="star-teacher<%= @teacher.id %>"></div>
</div>
<p><%= @teacher.updated_at.strftime("%Y-%m-%d %H:%M") %></p>

<%# 講義表示 %>
<div class="col-md-8">
  <% if @teacher.lectures.any? %>
    <h3>教えているクラス (<%= @teacher.lectures.count %>)</h3>
    <%# 講義一覧をパーシャルで表示。5件を超えるとページで分けられる %>
    <div class="list-group">
      <% @lectures.each do |lecture| %>
        <%= render partial: "teachers/lecture", locals: {lecture: lecture} %>
      <% end %>
      <%= paginate @lectures, theme: 'twitter-bootstrap-4' %>
    </div>
  <% end %>
</div>

<%# 最も参考になるレビュー %>
<div class="most-helpful-review">
  <%= @teacher.most_helpful_review %>
</div>

<%# 星表示のためのjavascript %>
<script>
  $('#star-teacher<%= @teacher.id %>').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf  : '<%= asset_path('star-half.png') %>',
    half      : true,
    readOnly: true,
    score: <%= @teacher.average_score %>,
  });
</script>
