<% provide(:title, 'アナリティクス') %>
<h1>Analytics</h1>



<p>OPUユーザー数： <%= @opu_users_count %></p>
<p>APUユーザー数： <%= @apu_users_count %></p>
<p>全体レビュー数： <%= @reviews_count %></p>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
      <th scope="col">新規登録者数</th>
      <th scope="col">APU</th>
      <th scope="col">OPU</th>
      </tr>
    </thead>
    <tbody>
      <% [1,2,3,4,5].each do |n| %>
        <tr>
          <td><%= n %>日前</td>
          <td><%= @apu_new_user_counts[n-1] %></td>
          <td><%= @opu_new_user_counts[n-1] %></td>
        </tr>
      <% end %>
        <%# end %>
      <%# end %>
    </tbody>
  </table>
</div>
<%#= paginate @users, theme: 'twitter-bootstrap-4' %>
</ul>