<% provide(:title, 'User一覧') %>
<h1>User</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">Grade</th>
      <th scope="col">gender</th>
      <th scope="col">faculty</th>
      <th scope="col">point</th>
      <th scope="col">class</th>
      <th scope="col">review</th>
      <th scope="col">group</th>
      <th scope="col">is_deleted?</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% if user.admin == false %>
          <tr>
            <th scope="row"><%= user.id %></th>
            <td><%= user.name %></td>
            <td><%= user.grade %></td>
            <td><%= user.gender %></td>
            <td><%= user.faculty %></td>
            <td><%= user.user_point.current_point %></td>
            <td><%= user.lectures.count %></td>
            <td><%= user.reviews.count %></td>
            <td><%= user.group.count %></td>
            <td><%= user.is_deleted %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @users, theme: 'twitter-bootstrap-4' %>
</ul>