<%= form_with(model:[@lecture, @review]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group star_form">
    <%= f.label :score,'満足度(必須)' , class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :score, id: :review_score %>
  </div>

  <%= f.label :content %>
  <%= f.text_area :content, size: "20x10", maxlength: "600", class: 'form-control' %>


  <%= f.hidden_field :lecture_id, value: @lecture.id %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>