<%= form_with(model:[@lecture, @review]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group" id="score">
    <%= f.label :score, t('.satisfaction'), class:'' %>
    <br>
    <%= f.hidden_field :score, id: :review_score %>
  </div>
  <div class="review-form-post">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>    


  <%= f.label :content %>
  <%= f.text_area :content, size: "20x10", maxlength: "600", class: 'form-control' %>
  <small><%= t('.example_1')%></small><br>


  <%= f.hidden_field :lecture_id, value: @lecture.id %>



  <!-- 評価javascript -->
  <script>
  $('#score').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    <% unless @review.score == nil %>
      score: <%= @review.score %>,
    <% end %>
    scoreName: 'review[score]',
    half: false,
  });

  // var star1 = document.querySelector('#score img'); これ下の二行と同じ意味
  var starparent = document.querySelector('#score');
  var star1 = starparent.querySelector('div:nth-child(4) img');
  var btn = document.querySelector('.btn-primary');
  star1.addEventListener('click',function(){
    btn.style.backgroundColor = 'blue';
  });
  </script>

<% end %>