<%= form_with(model:[@lecture, @review]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <span>(必須)</span>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :content %>
  <span>(必須)</span>
  <%= f.text_area :content, class: 'form-control' %>

  <div class="form-group" id="explanation">
    <%= f.label :explanation,'説明のうまさ' , class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :explanation, id: :review_explanation %>
  </div>

  <div class="form-group" id="fairness">
    <%= f.label :fairness,'公平な評価' , class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :fairness, id: :review_fairness %>
  </div>

  <div class="form-group" id="recommendation">
    <%= f.label :recommendation,'友達に勧めたいか' , class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :recommendation, id: :review_recommendation %>
  </div>

  <div class="form-group" id="useful">
    <%= f.label :useful,'役にたつか' , class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :useful, id: :review_useful %>
  </div>

  <div class="form-group" id="interesting">
    <%= f.label :interesting,'役にたつか' , class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :interesting, id: :review_interesting %>
  </div>

  <%= f.hidden_field :lecture_id, value: @lecture.id %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

  <!-- 評価javascript -->
  <script>
  $('#explanation').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    <% unless @review.explanation == nil %>
      score: <%= @review.explanation %>,
    <% else %>
      score: 3,
    <% end %>
    scoreName: 'review[explanation]',
    half: false,
  });

  $('#fairness').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    <% unless @review.fairness == nil %>
      score: <%= @review.fairness %>,
    <% else %>
      score: 3,
    <% end %>
    scoreName: 'review[fairness]',
    half: false,
  });

  $('#recommendation').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    <% unless @review.recommendation == nil %>
      score: <%= @review.recommendation %>,
    <% else %>
      score: 3,
    <% end %>
    scoreName: 'review[recommendation]',
    half: false,
  });

  $('#useful').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    <% unless @review.useful == nil %>
      score: <%= @review.useful %>,
    <% else %>
      score: 3,
    <% end %>
    scoreName: 'review[useful]',
    half: false,
  });

  $('#interesting').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    <% unless @review.interesting == nil %>
      score: <%= @review.interesting %>,
    <% else %>
      score: 3,
    <% end %>
    scoreName: 'review[interesting]',
    half: false,
  });
  </script>

<% end %>