<li id="review-<%= review.id %>" class = "review list-group-item" >

  <h4 class="title">
    <span><%= review.average_score %></span>
    <%= link_to review.title, lecture_review_path(@lecture.id, review.id) %>
  </h4>
  <span class="username"><%= review.user.name %></span>
  <p class="content">
    <%= review.content.truncate(24, omission: '・・・') %>
  </p>
  <span>わかりやすさ：<%= review.explanation %></span>
  <span>評価の公正さ：<%= review.fairness %></span>
  <span>友達への勧めたさ：<%= review.recommendation %></span>
  <span>役に立ったか：<%= review.useful %></span>
  <span>おもしろさ：<%= review.interesting %></span>
  <p class="timestamp">
    <%= review.updated_at.strftime("%Y-%m-%d") %>
  </p>
</li>