<li id="review-<%= review.id %>" class = "review list-group-item" >

  <h4 class="title">
    <span><%= review.score %></span>
    <%= link_to review.title, lecture_review_path(review.lecture.id, review.id) %>
  </h4>
  <span class="username"><%= link_to review.user.name, user_path(review.user.id) %></span>
  <p class="content">
    <%= review.content %>
    <%# review.content.truncate(24, omission: '・・・') %>
  </p>
  <p class="timestamp">
    <%= review.updated_at.strftime("%Y-%m-%d") %>
  </p>

  <%# 役に立ったボタン %>
  <div id="helpfuls_buttons_<%= review.id %>">
    <%= render partial: 'helpfuls/helpful', locals: { lecture: review.lecture, review: review } %>
  </div>
</li>