<%# レビューに詳細が存在するときは詳細の冒頭をタイトルにして、ないときはレビューの番号をタイトルにしてる。三項演算子で書いてます(分からなかったら調べてね)。 %>
<% provide(:title, @review.content.blank? ? "review#{@review.id}" : @review.content.truncate(8, omission: '・・・')) %>
<div class="review-show">
  <%= link_to "#{@lecture.name}に戻る", lecture_path(@lecture) %>

  <span>クラス：<%= @lecture.name %></span>
  <span>講師： Teacher</span>
  <h4>スコア：<%= @review.score %></h4>
  <% unless @review.content.blank? %>
    <p><%= safe_join(@review.content.split("\n"),tag(:br)) %></p>
  <% else %>
    <p>このレビューに詳細はありません。</p>
  <% end %>

  <%# 役に立ったボタン %>
  <div id="helpfuls_buttons_<%= @review.id %>">
    <%= render partial: 'helpfuls/helpful', locals: { lecture: @lecture, review: @review } %>
  </div>

  <%= link_to @review.user do %>
    <%= image_tag 'default_user.png', :size => '20x20' %><%= display_name(@review.user) %>
  <% end %>
  <span class="time-stamp"><%= @review.updated_at.strftime("%Y-%m-%d %H:%M") %></span>

  <%# 自分のレビューのときのみ表示 %>
  <% if current_user?(@review.user) %>
    <%= link_to "削除", lecture_review_path(@lecture,@review), method: :delete, data: { confirm: "本当に削除しますか？"} %>
  <% end %>
</div>