<% provide(:title, @review.title) %>
<div class="review-show">
  <%= link_to "#{@lecture.name}に戻る", lecture_path(@lecture) %>


  <h3><%= @review.title %></h3>
  <span>講義：<%= @lecture.name %></span>
  <span>講師： Teacher</span>
  <h4>スコア：<%= @review.score %></h4>
  <p><%= safe_join(@review.content.split("\n"),tag(:br)) %></p>
  <span>わかりやすさ：<%= @review.explanation %></span>
  <span>評価の公正さ：<%= @review.fairness %></span>
  <span>友達への勧めたさ：<%= @review.recommendation %></span>
  <span>役に立ったか：<%= @review.useful %></span>
  <span>おもしろさ：<%= @review.interesting %></span>
  <span>難易度：<%= @review.difficulty %></span>

  <%# 役に立ったボタン %>
  <div id="helpfuls_buttons_<%= @review.id %>">
    <%= render partial: 'helpfuls/helpful', locals: { lecture: @lecture, review: @review } %>
  </div>

  <p><%= @review.user.name %></p>
  <span class="time-stamp"><%= @review.updated_at.strftime("%Y-%m-%d %H:%M") %></span>

  <%# 自分のレビューのときのみ表示 %>
  <% if current_user?(@review.user) %>
    <%= link_to "削除", lecture_review_path(@lecture,@review), method: :delete, data: { confirm: "本当に削除しますか？"} %>
  <% end %>
</div>