<div class="row">
  <div class="col-md-8 offset-md-2 user-info-form">
    <h2>大学作成</h2><br>

    <%= form_with model: @univ, local:true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
        <%= f.label :name %><br/>
        <%= f.text_field :name, autofocus:true, id:"inputName" %>
      </div>

      <%= f.submit "作成" %>
    <% end %>
  </div>
</div>