<footer class="footer">
  <%# スマホ用フッターボタン %>
  <div class="footer_button container d-block d-sm-none fixed-bottom bg-white border-top">
    <div class="row">
    <% if user_signed_in? %>

      <%# ランキング %>
      <div class="footer-rank col">
        <div class="mobile-footer-logo">
        <%= link_to root_path do %>
          <i class="fas fa-medal fa-2x"></i>
        <% end %>
        </div>
        <div class="mobile-footer-logo-let">Ranking</div>
      </div>

      <%# 作る %>
      <div class="footer-add col">
        <div class="mobile-footer-logo">
        <%= link_to new_lecture_path do %>
          <i class="far fa-plus-square fa-2x"></i>
        <% end %>
        </div>
        <div class="mobile-footer-logo-let">New page</div>
      </div>

      <%# ブックマーク %>
      <div class="footer-book col">
        <div class="mobile-footer-logo">
          <%= link_to bookmarks_path do %>
            <i class="far fa-bookmark fa-2x"></i>
          <% end %>
        </div>
        <div class="mobile-footer-logo-let">Bookmark</div>
      </div>

        <%# その他・設定ボタン %>
        <div class="footer-other col" id="open" onclick="openBottomup()" >
          <div class="footer-menu">
            <i class="fas fa-ellipsis-h fa-2x"></i>
          </div>
          <div class="mobile-footer-logo-let">Menu</div>
        </div>
        <%# その他ボトムアップスライド %>
        <div class="other-bottomup other-bottomup-transition d-block d-md-none" id="close">
          <div id="closeIcone" id="open" onclick="closeBottomup()">
            <i class="fas fa-times"></i>
          </div>
          <ul class="other-bottomup-ul">
            <%# マイページ %>
            <li class="list-group-item text-left">
              <%= link_to user_path(current_user) do %>
                <span class="icon">
                  <i class="fas fa-user-circle fa-lg"></i>
                </span>
                <span class="d-inline"><%= t('.title_login') %></span>
              <% end %>
            </li>
            <%# グループ %> 
            <!--
            <li class="list-group-item text-left">
              <%= link_to groups_path do %>            
                <span class="icon">
                  <i class="fas fa-users fa-lg"></i>
                </span>
                <span class="d-inline"><%= t('.group') %></span>
              <% end %>
            </li>-->
            <%# ランキング %>
            <li class="list-group-item text-left">
              <%= link_to root_path do %>           
                <span class="icon">
                  <i class="fas fa-medal fa-lg"></i>
                </span>
                <span class="d-inline"><%= t('.ranking') %></span>
              <% end %>
            </li>
            <%# 新規クラス作成 %>
            <li class="list-group-item text-left">
              <%= link_to new_lecture_path do %>
                <span class="icon">
                  <i class="far fa-plus-square fa-lg"></i>
                </span>
                <span class="d-inline"><%= t('.create') %></span>
              <% end %>
            </li>
            <%# ブックマーク %>
            <li class="list-group-item text-left under-line">
               <%= link_to bookmarks_path do %>           
                <span class="icon">
                  <i class="far fa-bookmark fa-lg"></i>
                </span>
                <span class="d-inline"><%= t('.book') %></span>
              <% end %>
            </li> 
            <%# お問い合わせ %>                                              
            <li class="list-group-item text-left under-line">
              <%= link_to "https://forms.gle/yoxHXthES44B4f6VA", target: :_blank, rel: "noopener noreferrer" do %>
                <span class="icon">
                  <i class="fas fa-envelope fa-lg"></i>
                </span>
                <span class="d-inline"><%= t('.contact') %></span>
              <% end %>
            </li>
            <%# サインアウト %>
            <li class="list-group-item text-left under-line">
              <%= link_to destroy_user_session_path, method: :delete do %>            
                <span class="icon">
                  <i class="fas fa-sign-out-alt fa-lg"></i>
                </span>
                <span class="d-inline"><%= t('.signout') %></span>
              <% end %>
            </li>
            <%# 利用規約 %>
            <li class="list-group-item text-left">
              <%= link_to page_path('terms') do %>
                <span class="icon">
                  <i class="far fa-file-alt fa-lg"></i>
                </span>
                <span class="d-inline"><%= t('.term') %></span>
              <% end %>
            </li>
            <%# プライバシーポリシー %>
            <li class="list-group-item text-left under-line">
              <%= link_to page_path('privacypolicy') do %>           
                <span class="icon">
                  <i class="fas fa-user-lock fa-lg"></i>
                </span>
                <span class="d-inline"><%= t('.privacypolicy') %></span>
              <% end %>
            </li>    
            <%# アカウント削除 %>
            <li class="list-group-item text-left under-line">
              <%= link_to users_hide_path(current_user), method: :patch, data: { confirm: t('.delete_account_message') } do %>                
                <span class="icon">
                  <i class="fas fa-heart-broken fa-lg"></i>
                </span>
                <span class="d-inline"><%= t('.leave') %></span>
              <% end %>
            </li>
            <li class="usershow-blank list-group-item text-left d-inlineblock">
              <span class="d-inline"></span>
            </li>
          </ul>
        </div>

      <%# ログインしてない時 %>
      <% else %>
        <div class="footer-rank col-4">
          <div class="mobile-footer-logo">
            <%= link_to root_path do %>
              <i class="fas fa-medal fa-2x"></i>
            <% end %>
          </div>
          <div class="mobile-footer-logo-let">Ranking</div>
        </div>

        <div class="footer-login col-4">
          <div class="mobile-footer-logo">
            <%= link_to new_user_session_path do %>
              <i class="fas fa-sign-in-alt fa-2x"></i>
            <% end %>
          </div>
          <div class="mobile-footer-logo-let">Login</div>
        </div>

        <div class="footer-contact col-4">
          <div class="mobile-footer-logo">
            <%= link_to "https://forms.gle/yoxHXthES44B4f6VA", target: :_blank, rel: "noopener noreferrer" do %>
              <i class="fas fa-envelope fa-2x"></i>
            <% end %>
          </div>
          <div class="mobile-footer-logo-let">Contact</div>
        </div>

      <% end %>
    </div>
  </div>


 <div class="container d-none d-sm-block">
   <div class="row text-center">
      <div class="footer_logos col-md-6 col-sm-6 col-xs-12">
        <%# ロゴ %>
        <ul class="list-inline">   
          <%# <li>
              <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
          </li> %>
          <li>
            <%= link_to "https://www.instagram.com/hey.college/", target: :_blank, rel: "noopener noreferrer" do  %>
              <i class="fab fa-instagram fa-2x"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "https://twitter.com/Hey_College_", target: :_blank, rel: "noopener noreferrer" do  %>
              <i class="fab fa-twitter-square fa-2x"></i>
            <% end %>
          </li>     
        </ul>
      </div>
      <div class="footer_words col-md-6 col-sm-6 col-xs-12">
        <ul class="menu list-inline">       
          <%# <li>
            <a href="#">Home</a>
          </li>       %>
          <!--
            <li>
                <a href="#">About</a>
            </li>   
          -->
          <%# <li>
            <a href="#">Blog</a>
          </li>    %>
          <li>
            <%= link_to "https://forms.gle/yoxHXthES44B4f6VA", target: :_blank, rel: "noopener noreferrer" do %>
             <span class="d-none d-lg-inline">Contact</span>
            <% end %>
          </li>
          <li>
            <%= link_to t('.term'), page_path('terms') %>
          </li>
          <li>
            <%= link_to t(".privacypolicy"), page_path('privacypolicy') %>
          </li>
        </ul>
      </div>
    </div> 
  </div>
  
  <div class="copyright d-none d-sm-block ">
  <div class="container">
     	<p class="copyright">Copyright © 2021 All rights reserved</p>
  </div>
  </div>
</footer>

<script>
// // 表示
//   function openBottomup() {
//    document.querySelector('.other-bottomup').classList.add('other-bottomup-transition-active');
//    document.body.style.overflow = 'hidden';
//   }
// 消す
 function closeBottomup() {
   document.querySelector('.other-bottomup').classList.remove('other-bottomup-transition-active');
   document.body.style.overflow = 'scroll';
  }
// メニュー開閉
  function openBottomup() {
    var open = document.querySelector(".other-bottomup");
    open.classList.toggle("other-bottomup-transition-active");
  }
</script>
