
  <div class="container-fluid header-container"> 
    <div class="row">
      <%# スマホ画面用ハンバーガーボタン %>
      <div class="col-sm-1 d-md-none d-none d-sm-block col-sm-1 d-md-none">
        <button type="button" class="btn btn-success mx-2" onclick="openSubSide()">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <%# ヘイカレッジロゴ %>
      <div class="logo col-5 col-sm-3 mx-md-0 ml-sm-3">
        <%= link_to image_tag("HeyCollegelogo.png", alt: "ロゴ", width: "150px", id: 'logo'), root_path %>
      </div>
      <div class="search col-4 col-md-5 offset-md-1 offset-1 mx-auto d-none d-md-block">
        <% if user_signed_in? %>
          <%# 検索バー %>
          <%= search_form_for @q, class: "form-inline", url: lectures_path do |f| %>
            <div class="input-group justify-content-center">
              <%= f.search_field :name_ja_or_name_en_or_teacher_name_ja_or_teacher_name_en_cont, class: "searchbar form-control d-sm-block d-none" ,placeholder: t('.search_insidetext') %>
              <%# 詳細検索表示ボタン %>
              <div class="input-group-append justify-content-right">
                <%# 条件検索用のモーダルスイッチ %>
                <div class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">
                  <i class="fas fa-sliders-h"></i>
                </div>
                <%= button_tag type: 'submit', class: 'btn btn-outline-success' do %>
                  <i class="fas fa-search"></i>
                <% end %>
              </div> 
            </div>
          <% end %>
        <% end %>
      </div>
      
      <%# スマホ画面での検索ボタン(モーダルのスイッチ、出力側はポジション固定してるヘッダーの中に入れると不具合が出るのでapplication.html.erb) %>
      <div class="search col-1 offset-3 d-md-none d-block p-0">
        <% if user_signed_in? %>
          <div class="mobile-search" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-search fa-2x"></i>  
          </div>
        <% end %>
      </div>
      
      <% if user_signed_in? %>
        <%# ユーザーアイコン %>
        <div class="user col-1 mx-2 d-none d-sm-block">
          <%= link_to user_path(current_user) do %>
            <i class="fas fa-user-circle fa-2x"></i>
          <% end %>
        </div>
        <%# お知らせアイコン %>
        <div class="bell col-1 offset-1 offset-sm-0 d-flex m-0 text-right">
          <%= link_to notifications_path do %>
            <%= render 'layouts/circle' %>
          <% end %>
        </div>
        <%# 言語切り替えボタン %>
        <div class="lang col-1 text-right d-none d-sm-block">
          <% if session[:locale] == "ja" || session[:locale].blank? %>
            <%= link_to "/application/change_language/en" do %>
              EN
            <% end %>
          <% elsif session[:locale] == "en" %>
            <%= link_to "/application/change_language/ja" do %>
              日本
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% unless user_signed_in? %>
        <%# 言語切り替えボタン %>
        <div class="lang col-1 text-right">
          <% if session[:locale] == "ja" || session[:locale].blank? %>
            <%= link_to "/application/change_language/en" do %>
              EN
            <% end %>
          <% elsif session[:locale] == "en" %>
            <%= link_to "/application/change_language/ja" do %>
              日本
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>