<header>
  <div class="container-fluid p-0 px-md-4"> 
    <div class="row h-auto mt-2 p-sm-o p-0">
      <%#　スマホ画面用ハンバーガーボタン　%>
      <div class="col-sm-1 d-md-none d-none d-sm-block col-sm-1 d-md-none">
        <button type="button" class="btn btn-success mx-2" onclick="openSubSide()">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <%#　ヘイカレッジロゴ %>
      <div class="logo col-5 col-sm-3 mx-md-0 ml-3">
        <%= link_to image_tag("HeyCollegelogo.png", alt: "ロゴ", width: "150px", id: 'logo'), root_path %>
      </div>
      <div class="search col-4 col-md-5 offset-md-1 offset-1 mx-auto d-none d-sm-block">
        <%# 検索バー %>
        <%= search_form_for @q, class: "form-inline", url: lectures_path do |f| %>
          <div class="input-group justify-content-center">
            <%= f.search_field :name_or_teacher_name_cont, class: "searchbar form-control d-sm-block d-none" ,placeholder: t('.search_insidetext') %>
            <%# 詳細検索表示ボタン %>
            <div class="input-group-append justify-content-right">
              <%# 条件検索用のボタン(検索フォームはapplication.html.erbでコメントアウト) %>
              <%# <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseSearchLecture" aria-expanded="false" aria-controls="collapseSearchLecture">
                条件
              </button> %>
              <%# f.submit ("検索") , class: 'btn btn-outline-success'%>
              <%= button_tag type: 'submit', class: 'btn btn-outline-success' do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div> 
          </div>
        <% end %>
      </div>
      <%# スマホ画面での検索ボタン(モーダルのスイッチ、出力側はポジション固定してるヘッダーの中に入れると不具合が出るのでapplication.html.erb) %>
      <div class="search col-1 offset-2 d-sm-none d-block p-0">
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-search"></i>  
        </button>
      </div>
      
      <% if user_signed_in? %>
        <%# ユーザーアイコン %>
        <div class="user col-1 mx-2 d-none d-sm-block">
          <%= link_to user_path(current_user) do %>
            <i class="fas fa-user-circle fa-2x"></i>
          <% end %>
        </div>
        <%# お知らせアイコン %>
        <div class="bell col-1 offset-1 offset-sm-0 d-flex m-0 text-left">
          <%= link_to notifications_path do %>
            <%= render 'layouts/circle' %>
          <% end %>
        </div>
      <% end %>
      <%# 言語切り替えボタン %>
      <div class="lang col-1">
        <% if session[:locale] == "en" || session[:locale].blank? %>
          <%= link_to "/application/change_language/ja", class: "btn btn-outline-secondary btn-sm" do %>
          文
          <% end %>
        <% elsif session[:locale] == "ja" %>
          <%= link_to "/application/change_language/en", class: "btn btn-outline-secondary btn-sm" do %>
          A
          <% end %>
      <% end %>
      </div>
    </div>
  </div>
</header>