<%= search_form_for @q, url: lectures_path do |f| %>
  <div class="form-group">
    <%= f.label :name, "講義名" %>
    <%= f.search_field :name_cont, class: "form-control mr-sm-2" ,placeholder: '検索する講義名を入力...' %>
  </div>

  <div class="form-group">
    <%= f.label :teacher_name_cont, "先生名" %>
    <%= f.search_field :teacher_name_cont, class: "form-control mr-sm-2" ,placeholder: '検索する先生の名前を入力...' %>
  </div>

  <%= f.submit ("検索") , class: 'btn btn-outline-success my-2 my-sm-0 mx-auto d-block'%>
<% end %>

