<div class="sidebar_fixed">
  <nav>
    <ul class="list-group">
      <%# ログイン中 %>
      <% if user_signed_in? %>
        <li class="list-group-item d-flex text-center">
          <%= link_to ranking_path do %>
            <i class="fas fa-medal fa-2x"></i><span class="d-none d-lg-inline"><%= t('.ranking') %></span>
          <% end %>
        </li>
        <li class="list-group-item text-center">
          <%= link_to groups_path do %>
            <i class="fas fa-users fa-2x"></i><span class="d-none d-lg-inline"><%= t('.group') %></span>
          <% end %>
        </li>

        <%# 手動作成はいらないと思うのでコメントアウト %>
        <%# <li class="list-group-item text-center"> %>
          <%#= link_to new_lecture_path do %>
            <%# <i class="far fa-plus-square fa-2x"></i> %>
            <%# <span class="d-none d-lg-inline"> %>
              <%#= t('.create') %>
            <%# </span> %>
          <%# end %>
        <%# </li> %>

        <li class="list-group-item text-center">
          <%= link_to bookmarks_path do %>
           <i class="far fa-bookmark fa-2x"></i><span class="d-none d-lg-inline"><%= t('.book') %></span>
          <% end %>
        </li>
        <%# ZoomHouse %>
        <li class="list-group-item text-center">
          <%= link_to zooms_path do %>           
            <i class="fas fa-tv fa-2x"></i>
            <span class="d-none d-lg-inline">ZoomHouse</span>
          <% end %>
        </li>         
        <li class="list-group-item text-center">
          <%= link_to "https://forms.gle/yoxHXthES44B4f6VA", target: :_blank, rel: "noopener noreferrer" do %>
            <i class="fas fa-envelope fa-2x"></i><span class="d-none d-lg-inline"><%= t('.contact') %></span>
          <% end %>
        </li>
          <%# <li class="list-group-item text-center"> %>
            <%#= link_to root_path do %>
              <%# <i class="fas fa-question fa-2x"></i><span class="d-none d-lg-inline">ヘルプ</span> %>
            <%# end %>
          <%# </li> %>
        <%# 管理者の場合のみ表示 %>
        <% if current_user.admin? %>
          <span>ーー管理者用</span>
          <li class="list-group-item text-center">
            <%= link_to admin_home_path do %>
              <i class="fas fa-bullhorn fa-2x"></i><span class="d-none d-lg-inline">管理者画面へ</span>
            <% end %>
          </li>
        <% end %>
      <%# ログインしてない時 %>
      <% else %>
        <%# <li class="list-group-item"> %>
      <!--
        <li class="list-group-item text-center">
          <%= link_to groups_path do %>
            <i class="fas fa-medal fa-2x"></i><span class="d-none d-lg-inline"><%= t('.group') %></span>
          <% end %>
        </li>
      -->
        <li class="list-group-item text-center">
          <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt fa-2x"></i><span class="d-none d-lg-inline"><%= t('.sig&log') %></span>
          <% end %>
        </li>
        <!--
          <li class="list-group-item text-center">
            <%= link_to root_path do %>
              <i class="fas fa-question fa-2x"></i><span class="d-none d-lg-inline"><%= t('.help') %></span>
            <% end %>
          </li>
        -->
        <li class="list-group-item text-center">
          <%= link_to "https://forms.gle/yoxHXthES44B4f6VA", target: :_blank, rel: "noopener noreferrer" do %>
            <i class="fas fa-envelope fa-2x"></i><span class="d-none d-lg-inline"><%= t('.contact') %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>