<div class="sidebar_fixed">
  <nav>
    <ul class="list-group">
      <%# ログイン中 %>
      <% if user_signed_in? %>
        <li class="list-group-item">
          <%= link_to root_path do %>
            <i class="fas fa-medal fa-2x"></i><span class="d-none d-lg-inline"><%= t('.ranking') %></span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to new_lecture_path do %>
            <i class="far fa-plus-square fa-2x"></i><span class="d-none d-lg-inline">ページ作成</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to bookmarks_path do %>
            <i class="far fa-bookmark fa-2x"></i><span class="d-none d-lg-inline">保存</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to root_path do %>
            <i class="fas fa-question fa-2x"></i><span class="d-none d-lg-inline">ヘルプ</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to "#" do %>
            <i class="fas fa-envelope fa-2x"></i><span class="d-none d-lg-inline">お問い合わせ</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt fa-2x"></i><span class="d-none d-lg-inline">ログアウト</span>
          <% end %>
        </li>
        <%# 管理者の場合のみ表示 %>
        <% if current_user.admin? %>
          <span>ーー管理者用</span>
          <li class="list-group-item">
            <%= link_to new_admin_news_path do %>
              <i class="fas fa-bullhorn fa-2x"></i><span class="d-none d-lg-inline">アナウンス作成</span>
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to admin_users_path do %>
              <i class="fas fa-users fa-2x"></i><span class="d-none d-lg-inline">ユーザー一覧</span>
            <% end %>
          </li>
        <% end %>
      <%# ログインしてない時 %>
      <% else %>
        <li class="list-group-item">
          <%= link_to root_path do %>
            <i class="fas fa-home fa-2x"></i><span class="d-none d-lg-inline">ランキング</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to new_user_registration_path do %>
            <i class="fas fa-sign-in-alt fa-2x"></i><span class="d-none d-lg-inline">サインアップ</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt fa-2x"></i><span class="d-none d-lg-inline">ログイン</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to root_path do %>
            <i class="fas fa-question fa-2x"></i><span class="d-none d-lg-inline">ヘルプ</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to "#" do %>
            <i class="fas fa-envelope fa-2x"></i><span class="d-none d-lg-inline">お問い合わせ</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>