<div class="sidebar_fixed">
  <nav>
    <ul class="list-group">
      <% if user_signed_in? %>
        <li class="list-group-item">
          <%= link_to root_path do %>
            <i class="fas fa-home fa-2x"></i><span>Home</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to new_lecture_path do %>
            <i class="far fa-plus-square fa-2x"></i><span>Create</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to root_path do %>
            <i class="fas fa-question fa-2x"></i><span>Help</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to "#" do %>
            <i class="fas fa-envelope fa-2x"></i><span>Contact</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt fa-2x"></i><span>Log out</span>
          <% end %>
        </li>
      <% else %>
        <li class="list-group-item">
          <%= link_to root_path do %>
            <i class="fas fa-home fa-2x"></i><span>Home</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to new_user_registration_path do %>
            <i class="fas fa-sign-in-alt fa-2x"></i><span>Sign up</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt fa-2x"></i><span>Log in</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to root_path do %>
            <i class="fas fa-question fa-2x"></i><span>Help</span>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to "#" do %>
            <i class="fas fa-envelope fa-2x"></i><span>Contact</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>