<!DOCTYPE html>
<html lang="ja">

  <head>
    <title><%= yield(:title) %> | HeyCollege</title>
    <%= render 'layouts/head_base' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <div class="container-fluid">
      <div class="row">

        <%# サイドバー %>
        <div class="col-2 d-none d-md-block sidebar_col p-0">
          <%= render 'layouts/sidebar'%>
        </div>

        <%#　メインコンテント %>
        <div class="col main_content p-0">
        
          <%# ここから3行はフラッシュ表示 %>
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>
          
          <div class="container p-0 p-sm-auto">
            <div class="yield_box">
              <%# 他のページをここに代入 %>
              <%= yield %>
            </div>
          </div>

          <%# フッターと開発者用のやつ卍 %>
          <div>
          <%# 次の行は開発用の表示 %>
              <%= debug(params) if Rails.env.development? %>
              <%= render 'layouts/footer'%>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
