<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= yield(:title) %> | HeyCollege</title>
    <%= render 'layouts/head_base' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <div class="container">
      <%= yield %>
    <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
