<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= yield(:title) %> | HeyCollege</title>
    <%= render 'layouts/head_base' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <div class="row">
      <div class="col-3 d-none d-md-block">
        <%= render 'layouts/sidebar' %>
      </div>
      <div class="col">
      <%# ここから3行はフラッシュ表示 %>
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%# 他のページをここに代入 %>
          <div class="container">
            <%= yield %>
            <%= debug(params) if Rails.env.development? %>
          </div>
      </div>
    <%# 次の行は開発用の表示 %>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
